[2018-09-25 13:41] kjetilhp opened #1 "package not puplished to npm?"
npm i --save nest-winston winston

[2018-09-26 16:41] gremo commented on #1
Yes, I didn't publish this package to NPM. I consider it just an "experiment" for now, I've a lot of ideas about improving it.

[2018-09-27 18:47] webernir commented on #1
too bad.
would like to use it :(

[2018-09-27 21:12] gremo commented on #1
Well, I'll publish It tomorrow. Thanks and feel free to contribute!

[2018-09-28 16:06] gremo commented on #1
I've got an error while publishing to npm. Now it shows "1 packages" but list is empty, it's "stuck" and I can't publish or unblish. I've contacted the support team.

[2018-10-01 16:53] gremo commented on #1
This library is now on npm! We are starting from v1.0.1 because of that problem with npm! Cheers 👍

[2018-10-01 16:53] #1 closed

[2018-11-24 21:36] Offlein opened #2 "Winston does not appear to inject properly"
Hi, I'm trying to Inject Winston into a service class. I've added Winston to the main Application module:
[code]

and in its constructor I've built it like this:
[code]

However, upon startup, NestJS presents:
[code]

So, it looks like the Winston injection isn't there. My understanding is that because I added Winston `.forRoot()` it should be ready to inject anywhere... Maybe the token is wrong?

[2018-12-02 10:15] gremo commented on #2
I can't reproduce the bug. Can you setup a minmal complete example on a github repository?

[2019-01-23 17:47] gremo commented on #2
@ToJen what do you mean?

[2019-02-22 16:31] ToJen commented on #2
I want to import a module for my config to fetch environment variables, the same way I can in Mongoose:

[code]

[code]

[2019-03-18 00:19] achyutjhunjhunwala commented on #2
@gremo I am too facing this issue. ConfigProperties are not getting resolved for WinstonModule.forRootAsync({})

[2019-05-25 11:22] gremo commented on #2
Closing, see https://github.com/gremo/nest-winston#async-configuration

[2019-05-25 11:42] gremo commented on #2
Nevermind... this is partially true, I'm going to implement `import` support with async configuration.

[2019-05-25 11:50] #2 closed

[2019-07-19 19:27] btorresbrandcoders opened #18 "Adding transports based on environment"
Since the config options are placed inside the module import in the AppModule, I can't get transports to be added based on which environment the app is running in. Normally using winston, the logger is instantiated in a variable which can be accessed later to add a transport like this:
[code]
Where should the code above (or similar) be used to add the transport?

[2019-07-19 19:42] gremo commented on #18
Hi @btorresbrandcoders, maybe you can use `forRootAsync` method? Try if this works (`push` to `transports `array):

[code]

[2019-07-25 13:26] gremo commented on #18
Closing... let me know if you solved the problem.

[2019-07-25 13:26] #18 closed

[2019-09-28 07:25] kierans opened #44 "Export WinstonLogger from npm module"
Firstly great job on this (npm) module!! It's saved me some hassle so thanks 👍

However using the `WinstonLogger` as a `@Module` means that you have to wait for the logger to be instantiated before it will kick in which means you get the default Nest Logger's output for a bit eg:

[code]

However in the [Nestjs Logger Docs](https://docs.nestjs.com/techniques/logger) it suggests passing the logger

[2019-09-28 07:30] kierans opened #45 "Export nest like log format"
I actually got this idea from https://github.com/pay-k/nestjs-winston (as an aside I don't know why this module/repo exists as it's not a fork of this repo and according the npm this module was published first, so it looks like the author just took a dump of this repo)

It's a Winston formatter that mimics the output format of the default Nest Logger.

[code]

[2019-09-30 11:19] gremo commented on #45
Hi, thanks for the input. Can you explain me why I should use the formatter? Can you post a screenshot?

[2019-10-01 02:37] cloud-down commented on #45
I was this formatter that lead to my example in #44, but here it is again (note the colours on the console are the same as what the Nest Logger uses)

[code]

[2019-10-01 02:38] kierans commented on #45
It was this format that lead to my example in #44, but here it is again (note the colours on the console are the same as what the Nest Logger uses)

[code]

[2019-10-13 22:09] danshapir commented on #45
The payk repo is actually the one that this author stole 99% of the code from... This repo only had an export module before my repo. Just look at the PRs.

[2019-10-13 22:35] gremo commented on #45
Your created the repo just 26 days ago. What you are saying is a no-sense 😂

[2019-10-14 07:45] danshapir commented on #45
Check the pull requests, all the functionality in this repo was literally written by me 🤣🤣

[2019-10-14 09:46] gremo commented on #45
@danshapir yes, *that* functionality, not the entire project.... i did not stolen anything. You cloned my repo and do you things, which is perfectly right.... this is open source code. So you should really stop saying "stole".

[2019-10-14 10:31] kierans commented on #45
I think the problem is that the fork link between this repo and https://github.com/pay-k/nestjs-winston is broken (assuming one was present in the first place) so when someone new comes alone it's easy to get confused. There's also no point having multiple copies of the same module in the npm registry IMHO.

![Screen Shot 2019-10-14 at 9 20 20 pm](https://user-images.githubusercontent.com/1179247/

[2019-10-14 10:33] danshapir commented on #45
@gremo I wish this was true. The last PR I closed and deleted, but still you went on and took my code...

And taking the code from this issue will do the same again. Copy paste...

[2019-10-14 10:46] gremo commented on #45
@danshapir Again, I did not stolen anything. You contributed to this project as well as other people of this community. Thanks god, we still write open source code and the verb "stole" is completely inappropriate.

I was happy with your contribution but you were not able to respect the coding standard of this project and for this reason I authored that commit by myself.

Feel free to contribute ag

[2019-10-14 10:59] danshapir commented on #45
@kierans there are other stolen PRs.

Just like the comment above me asking you to make a PR with code coming from my repo 🤣

Common, I'm actually keeping my repo updated all the time, adding functionality and features.

Just use it instead on copying stuff from it 😏 the more updated and well kept repo should survive.

[2019-10-14 11:40] kierans commented on #45
@danshapir I understand your point that you may not have agreed to have code that you've written added to this repository However both your repos are licensed under the [MIT](https://opensource.org/licenses/MIT) license. Therefore @gremo cannot, and has not "stolen" anything, so it's inappropriate for you to say so. If you wish your intellectual property to remain your own, you need to have a less

[2019-10-14 11:43] kierans commented on #45
Personally I think everybody suffers from this type of split. What let me to this repo, is that @gremo has the `nestjs-winston` npm package and I was trying to figure out what the difference between it and `@payk/nestjs-winston` was.

What would be better is if somehow all code could be merged into one package and published.

[2019-10-14 12:02] gremo commented on #45
This conversation is ridiculous. This is a small library with a few stars (30 or so) and downloads. There no reason to complain about the intellectual property of your work.

@danshapir there are no "other PRs", the only one I changed was #36 because you were NOT able to simply lint your code, even after i told you to do so. You are not able to collaborate with other people and do something for th

[2019-10-14 13:29] kierans commented on #45
Thanks. I don't have the time currently.

[2019-10-30 19:17] gremo commented on #45
@kierans what do you think? Last 4 lines are the custom nest-like formatter I'm writing:

![Cattura](https://user-images.githubusercontent.com/1532616/67891165-57c61480-fb52-11e9-81e0-69d598107a72.PNG)

[2019-10-30 21:13] gremo commented on #44
If I understand you request, you want to manually create a instance of `WinstonLogger`? This way, any of the module options will be of course ignored... this seems to me completely wrong.

[2019-10-30 21:41] #45 closed

[2019-10-30 23:29] kierans commented on #44
@gremo I don't think you've understood my use case. If you read the [NestJS documentation](https://docs.nestjs.com/techniques/logger) creating the logger outside of the DI container is a recommended pattern as it means the same logger configuration can be used by Nest (as a global logger) as well as the application code (loggers are tricky beats that straddle the application/infrastructure divide)

[2019-11-04 10:33] gremo commented on #44
How so? If we create the instance "manually" (using `return new WinstonLogger(logger);`) how the module options will be inherited?

[2019-11-06 08:05] sjmittal commented on #44
The docs says that we can use winston logger across whole app including bootstrap by using:

import { WINSTON_MODULE_NEST_PROVIDER } from 'nest-winston';

[code]

Isn't that same as what we are trying to do here by passing WinstonLogger manually.

[2019-11-06 20:52] gremo commented on #44
Really confused. What do you want to export/add into this repository? Can you please explain me with real code? I will be glad to help and push the fix or new feature.

[2019-11-10 11:21] kierans commented on #44
@sjmittal If you look at the example I gave when I opened the issue, the formatting of the log messages is different doing what you suggested. Why? It's because when the logger bean is being created as part of the application context, Nest will use it's default internal logger until the logger Module is finished being instantiated.

What I want to achieve @gremo is uniformity of output. That means

[2019-11-10 12:10] sjmittal commented on #44
@kierans
Yes some messages have default nest formatting, but if you read https://docs.nestjs.com/techniques/logger it says that when you add a custom logger

https://docs.nestjs.com/techniques/logger

I am not sure the PR created addresses this issue.

[2019-11-10 12:20] kierans commented on #44
@sjmittal I disagree with the statement that my first initialisation messages not being handled shouldn't matter. That's an opinion expressed by the Nest authors. During "initialisation" (or bootstrapping) is when, for example, TypeORM tries to connect to the DB. I personally would like to know if that fails.

When I'm attaching alarms, or wanting to take other actions based on log output (eg: in

[2019-11-18 12:49] kierans commented on #44
Fixed by #62

[2019-11-18 12:49] #44 closed

[2019-11-26 03:39] Zaynex opened #67 "Question: How to use it in TypeOrmModule?"
Hi, my question is how to use it in TypeOrmModule ?
Currently, db query didn't saved in log.
[code]

[2019-11-26 08:51] Zaynex commented on #67
Solve it by myself.

read  nestjs/nest#1300

[2019-11-26 08:51] #67 closed

[2019-11-30 19:57] TrejGun opened #73 "error stack trace is not printed"
Hi there! I'm not sure if this is feature request of bug repport.

what I do is configure winson in bootstrap function
[code]

and app module
[code]

and then use

[code]

which print just
[code]

according to docs it should print [context] and `trace` property in the meta data

ok lets do this ather way around

[code]

prints
[code]
which is even worth

I was managed to make it work somehow
[code

[2019-12-02 13:20] TrejGun opened #75 "WinstonOptionFactory"
please add WinstonOptionFactory so users can create WinstonConfigService to pass in useClass property for forRootAsync

[2019-12-03 08:29] Piranit commented on #75
Hi
It's already implemented in [my pull request.](https://github.com/gremo/nest-winston/pull/66)
We are expecting a new version with this changes.

[2019-12-03 11:27] gremo commented on #75
@Piranit is right. Sorry for the late release. I'll try to do in today. I was a little busy and I tried to refactor and lint the code before releasing.

[2019-12-03 11:28] gremo commented on #73
@Piranit can you help me with this?

[2019-12-03 11:39] TrejGun commented on #73
i can, what kind of help do you need?

[2019-12-03 11:40] TrejGun commented on #75
thanks guys

[2019-12-03 11:42] gremo commented on #73
@TrejGun I don't know how error loggin works, so I was asking to him how stack trace is printed: is this a bug or something to be implemented?

[2019-12-03 12:57] TrejGun commented on #73
it is impleneted and used for example in here
https://github.com/nestjs/nest/blob/master/packages/core/exceptions/base-exception-filter.ts#L55

and also implemented in your code
https://github.com/gremo/nest-winston/blob/master/src/winston.providers.ts#L13

but for some reason does not work, probably arguments are messed up when passed from nest to winston

[2019-12-03 13:11] gremo commented on #75
New released version 1.3 should contain the pull request.

[2019-12-03 13:11] #75 closed

[2019-12-03 15:19] TrejGun commented on #75
@gremo can you please export it from the root?

[2019-12-03 16:49] TrejGun commented on #73
ok I know what is wrong.

I have to inject WINSTON_MODULE_NEST_PROVIDER instead of WINSTON_MODULE_PROVIDER

[2019-12-03 16:49] #73 closed

[2019-12-12 16:44] Themandunord opened #86 "Use winston functions"
Hello Guys!

How do you do to call profiling function on this logger ? (https://github.com/winstonjs/winston#profiling), I need that for my project, but I cannot achieve it..

Do you have a solution?

Thank you

[2019-12-13 16:10] gremo commented on #86
Hi, thanks for answering.

I think you can simply inject the logger in your service/controller: the logger is exactly what `createLogger` function returns (have a look [here](https://github.com/gremo/nest-winston/blob/master/src/winston.providers.ts#L38)). Then, call `startTimer()` on the logger itself.

Let me know.

[2019-12-13 16:11] Themandunord commented on #86
Oh yeah, I see!

Thank you!

[2019-12-13 16:11] #86 closed

[2020-01-20 23:53] reinoute opened #98 "Can I use nest-winston with `express-winston` too?"
Can I use it with [express-winston](https://github.com/bithavoc/express-winston) too?

The reason I ask is that express-winston supports logging response body and supports logging to [Stackdriver/Google cloud](https://github.com/bithavoc/express-winston#stackdrivergoogle-cloud-logging).

[2020-01-22 11:31] Nikos-kun opened #99 "Can I use this logger to see the logs of my project when it runs on a server?"
Hello, I'm new with nestjs.

Description::
There is an outside of my network plugin that sends data to my nestjs that runs on a server.
And it seems my nestjs responds with:

[code]

[2020-01-25 14:37] gremo commented on #98
I think it should be possibile.

Maybe creating a middleware (see https://docs.nestjs.com/middleware) injecting the same options we use for this module. Then, inside the middleware, specify thet the use function is that coming from `expressWinston.logger`?

Another possibility could be appling it globally... but you need to figure out how to get che module options (to be passed to  `expressWinston

[2020-01-27 06:44] TrejGun commented on #98
you most likely can use `express-winston` without `nest-winston` as shown above
and then write custom formatter

[2020-01-29 08:15] hamxabaig commented on #99
@Nikos-kun Even if you plug this logger into your nestjs project. It won't have any effect until you log manually in the code yourself using the logger.

You can also have a look at [Exception Filters](https://docs.nestjs.com/exception-filters) in NestJS.

[2020-02-04 09:45] rainercedric23 opened #108 "Adding new logger transport depending on environment"
I am implementing a logger module using `nest-winston` but I don't know how to implement a  a new logger depending on environment cleanly, here's my `LoggerModule`:

[code]

[2020-02-04 17:11] gremo commented on #108
Check the async configuration: you can inject your configuration service (where I imagine you store the current environment) and then... simply return the appropriate options based on that.

[2020-02-04 17:12] gremo commented on #108
Sorry... didn't see that you are actually using the async configuration. Just return different options based on the environment, i your factory function then :)

[2020-02-21 12:30] gremo commented on #108
Did you solved?

[2020-02-23 12:15] rainercedric23 commented on #108
Yes I've solved it by using ConfigModule like this:

`import { Module } from '@nestjs/common';
import { TypeOrmModule } from '@nestjs/typeorm';
import { User } from '../user/user.entity';
import { ConfigService, ConfigModule } from '@nestjs/config';

@Module({
    imports: [
        WinstonModule.forRootAsync({
            imports: [ConfigModule],
            inject: [ConfigService],
            u

[2020-02-23 12:16] #108 closed

[2020-02-24 09:27] gremo commented on #108
@rainercedric23 good!

[2020-03-07 12:33] ibrcko opened #122 "setContext method implementation and injection scope"
Hello,

I have noticed that you haven't implemented "setContext()" method in a similar fashion as it is implemented in [@nestjs/logger-service.](https://github.com/nestjs/nest/blob/master/packages/common/services/logger.service.ts)

Since this is a cool feature, what do you think about adding it to this library?

The implementation itself would look something like this:
[code]

The use case for th

[2020-03-10 03:36] kamzaa opened #123 "Can I access the request header to extract a property and add it to defaultMeta?"
I'm trying to access the http context essentially to retrieve a property and log it.

How would I go about doing that?

[2020-03-11 11:21] gremo commented on #99
@hamxabaig can I close this issue? @Nikos-kun is this resolved? Thanks

[2020-03-11 11:24] gremo commented on #122
Seems good to me, the part regarding the context @TrejGun @hamxabaig what do you think?

[2020-03-11 11:28] gremo commented on #123
Can't you write an [interceptor](https://docs.nestjs.com/interceptors), inject the logger, and then use the [`ExecutionContext`](https://docs.nestjs.com/fundamentals/execution-context) to the the request and properties that you need?

Is this what you mean?

[2020-03-11 12:02] hamxabaig commented on #99
@gremo Yeah sure, It doesn't seem to be `nest-winston` issue

[2020-03-11 12:03] hamxabaig commented on #122
Yeahs sounds good, actually this was the reason i had to choose NestJS logger over `nest-winston` It'd be a good addition

[2020-03-11 12:08] #99 closed

[2020-03-11 12:10] gremo commented on #122
Can you elaborate more on the "injection scope", providing some examples maybe?

@ibrcko feel free to open a PR about the context feature.

[2020-03-11 15:32] TrejGun commented on #122
LGTM :)

[2020-03-11 15:35] gremo commented on #98
@TrejGun can you help here? Can be closed, right (out of scope of this package)?

[2020-03-12 12:02] TrejGun commented on #98
i guess so)
what kind of help do you need? i dont have "close" button

[2020-03-13 09:08] ibrcko commented on #122
Great!
I'm pleased that you guys are open to this change. (regarding setContext)
I will create a PR in the upcoming days.

As far as injection scope is concerned.
If you haven't already, you can take a look at this [article](https://dev.to/santoshyadav198613/a-deep-dive-into-the-nestjs-injection-scope-39ih) where injection scopes are explained quite nicely, and as a bonus, the example used for the

[2020-03-13 10:11] TrejGun commented on #122
for sure it is better to set scope only once. lets say i want to use my sessionId from redis. this way i can get sessionId in createWinstonAsyncProviders and use once

another question how this would work with gql?

[2020-03-13 15:27] gremo commented on #98
@TrejGun yep you can't close, but I can. Should we close this issue because it's not actually related to nest-winston package?

[2020-03-17 00:08] TrejGun commented on #98
i think so)

[2020-03-17 08:07] gremo commented on #98
Thanks

[2020-03-17 08:07] #98 closed

[2020-03-24 08:56] ibrcko commented on #122
I'm not sure about GQL, I haven't used it yet, so I can't give you an answer.

[2020-03-24 10:58] baocancode opened #130 "Constant for inject token"
Hi, in the README, there is this example:

[code]

I do not want to type the token 'winston' all the time to avoid typo, also it can change in the future. Best to have a constant for it. I can see this one from type definition:

[code]

Is it supposed to be the inject token? If so, the README should mention about it.

[2020-03-24 11:02] gremo commented on #130
Yes, it's `WINSTON_MODULE_PROVIDER` constant. Do you think that README should be updated?

[2020-03-24 11:17] baocancode commented on #130
I think so, similar to WINSTON_MODULE_NEST_PROVIDER has been mentioned.

[2020-03-24 11:35] #130 closed

[2020-03-24 11:44] baocancode commented on #130
Thanks for quick response.

[2020-03-24 11:49] TrejGun commented on #122
looks like it would work the same way in nest 7
i will try to check when you are done

[2020-03-24 16:52] ibrcko commented on #122
So are you guys okay with the injection scope part of this issue?

If you are okay, which method do you prefer:
1. Injection scope can be configured through options
2. Export WinstonLogger and leave injection scope configuration to the user

[2020-03-25 01:58] TrejGun commented on #122
1

[2020-03-30 16:44] MickL commented on #122
I would like to use it without a `@Inject()` decorator: `constructor(private logger: WinstonLogger) { }` and especially have no uppercase. Both would be more like a code style preference and to be conform with Nest.js.

For injection scope i like option 1 way more.

Further I would like to set the context like Nest logger per instance: `this.logger.setContext('AppController')` but what Nest does n

[2020-04-01 11:37] luokuning opened #134 "Can not record trace message when use as the main Nest logger"
As the document states, we can replace the system logger with Winston logger like this:

[code]

However, when Nest catches an exception, the `trace` message is missing in log file. I think it's because Winston logger instance doesn't conform Nest `LoggerService`.

As a workaround, we should use logger instance return from `WinstonModule.createLogger`.

[2020-04-01 11:44] luokuning commented on #134
#73 There is another issue mentioned that. Closed.

[2020-04-01 11:44] #134 closed

[2020-04-01 15:51] gremo commented on #123
Feel free to comment further. Closing it as it seems something related to NestJS framework.

[2020-04-01 15:51] #123 closed

[2020-04-01 15:54] gremo commented on #134
Hi, feel free to suggest any improvement in the documentation, if there is something unclear.

[2020-04-03 12:49] koper89 opened #137 "[FeatureRequest] Child loggers creation with use of forFeature"
Hello,

I wanted to be able to use "filename/moduleName" in my logging. To do this it would be nice to use child logger functionality of winston. Currently I use it as follows:
``export` class Features {
    constructor(
        @Inject(WINSTON_MODULE_PROVIDER) private readonly logger: Logger
    ) {
        this.logger = logger.child({ module: 'Features'});
    }
}``

This way all logs in this "p

[2020-04-06 14:33] cosinus84 opened #139 "Cannot use logger based on package documentation"
I want to use Winston global when app starts
[code]
`- {"trace":"Error: Nest can't resolve dependencies of the AuthController (?, UserService, AuthService). Please make sure that the argument winston at index [0] is available in the AuthModule context.\n\nPotential solutions:\n- If winston is a provider, is it part of the current AuthModule?`
This is not working anymore
`constructor(@Inject(WINSTO

[2020-04-06 15:27] gremo commented on #139
Asking help to @ibrcko

[2020-04-06 19:31] cosinus84 commented on #139
Fixed
[code]

[2020-04-06 19:31] #139 closed

[2020-04-06 19:39] gremo commented on #139
Do you think that documentation should be improved?

[2020-04-07 15:51] MickL commented on #122
@ibrcko Any update on this? :)

[2020-04-08 08:50] ibrcko commented on #122
@MickL
I have been experimenting with NestJS's injection scope and noticed that there are some unexpected effects, so I'm having second thoughts about this feature.

Nevertheless, I will make a PR that will give the developer an option to set injection scope, and then the effects of it are risk he would have to take care of.

[2020-04-08 13:00] MickL commented on #122
@ibrcko Could you please point out what you mean by unexpected effects?

[2020-04-11 07:11] cosinus84 commented on #139
Yes some full example would be nice, from main file/module to provider injection.

[2020-04-12 12:20] BeaRRRRR opened #140 "Using the same instance for both bootstrap and whole project logging."
Maybe I didn't understand the docs fully, but it seems to me as thought we use two different logger instances for across the whole project logging, e.g.
[code]

and for logging during bootstrap, e.g.

[code]

For across the project logging we use whatever `WinstonModule.forRoot` returns, and for logging during the bootstrap we use whatever `WinstonModule.createLogger` returns. So it's like using t

[2020-04-12 20:09] gremo commented on #140
You got the point. In fact, the two underlying methods return a new (different) instance of `WinstonLogger`.

How do you retrieve the Nest logger from `app` (that is, normally)? On idea could be replacing the entire provider with a factory that returns the Nest logger (which was replaced by our logger).

[2020-04-13 15:11] cometix commented on #108
Hi @rainercedric23
can you help me to provide some code, how you implemented it?
will be very helpful for me, I am stuck in something same usecase.

[2020-04-18 09:06] markau opened #142 "Still unable to inject config"
I am using the new **imports** declaration but still unable to inject Config (or environment) variables, they are undefined.

Below is my main module:

[code]

The `WinstonModule` declaration above is identical to my `SequelizeModule` below (which works):

[code]

[2020-04-20 07:46] TapaiBalazs opened #144 "Using nestLike formatter throws error when tries to log a circular object structure"
I use `nest-winston` for l logging in my NestJS application. I am using a third-party lib to handle some business logic and in some cases, it throws a circular object structure error.

When this happens, I get the following error:

[code]

After some research, I have found that the `winston` package uses `fast-safe-stringify` in order to avoid these kinds of errors. See [here](https://github.com/w

[2020-04-20 07:49] gremo commented on #144
Hi, interesting thing. So where `fast-safe-stringify` should be used?

You mean, instead of `JSON.stringify` method?

[2020-04-20 07:54] TapaiBalazs commented on #144
Hi!

Yes, exactly, instead of JSON.stringify() method. So the nestLike formatter would look something like the following:

[code]

[2020-04-20 07:54] gremo commented on #142
Hi, can you please setup a minimal working example repository?

[2020-04-20 08:04] gremo commented on #144
Thanks. Working on it right now.

[2020-04-20 08:24] #144 closed

[2020-04-20 08:53] gremo commented on #144
Thanks for helping, checkout v1.3.4.

[2020-04-20 09:00] gremo commented on #142
Also, have you looked at this warning?

[2020-04-20 09:05] TapaiBalazs commented on #144
@gremo I have installed 1.3.4 and tried it out. Circular JSON issue is no longer present.

Thank you very much for the extremely quick fix! :)

[2020-04-20 09:59] markau commented on #142
Hi Marco, thanks for the reply and your efforts with this library.

Yes, I read that many times, and sanity checking my implementation was part of the reason for my posting.

I am using `WinstonModule.forRootAsync()` because I also need to import the ConfigModule. So, in the WinstonModule.forRootAsync({}) properties, I have `imports: [ConfigModule]`. I believe this injects the config module (i.e.

[2020-04-20 10:19] gremo commented on #142
Hi @markau, good to know! So, make a minimal repository so I can figure out why it doesn't work.

[2020-04-21 10:44] markau commented on #142
I was not able to reproduce this in a new NestJS application. I noticed the new, minimal application was using `nest-winston` 1.3.4, which was released 20 hours ago. The old app was using 1.3.3, upgraded to 1.3.4, problem solved 🎉

Looking at the commits for 1.3.3 -> 1.3.4 I am not sure how to explain this... but, it works, so feel free to close the issue?

[2020-04-21 11:14] gremo commented on #142
I'm happy that is working now.

Honestly, can't explain. The only relevant difference from 1.3.3 abd 1.34 was this PR https://github.com/gremo/nest-winston/pull/145.

[2020-04-21 11:14] #142 closed

[2020-04-23 15:10] adikaladik opened #148 "Using MondoDb as transport"
Hi! Can someone please advise how can I use this lib with nest-winston? https://github.com/winstonjs/winston-mongodb

[2020-04-23 16:06] gremo commented on #148
Have you tried requiring `winston-mongodb` in your module, and than simply passing `new winston.transports.MongoDB` to the transports array?

For example:

[code]

[2020-04-27 08:44] adikaladik commented on #148
Yes, tried. `Property 'MongoDb' does not exist on type 'Transports'.`

[2020-04-30 16:18] twigs67 opened #154 "Override formating per module?"
Hello,

Is there a way to override format options per module?

For instance, my ```app.module.ts``` looks like:
[code]

And I'm calling it as such:
[code]

With the nest logger I would be able to add something like setContext. Is there any way to achieve this?

Thanks

[2020-05-07 00:01] idrisadetunmbi commented on #140
I find this interesting a bit as well cos I am just trying out nestjs and this logger plugin. I am wondering what the difference is between retrieving a single instance registered by the module as the main nest logger:

[code]

or using a non-DI instance:
[code]

[2020-05-11 16:52] cesc1802 commented on #122
i aslo need know. how to update set context

[2020-05-15 09:01] Chup4Chups commented on #122
any update ?

[2020-05-16 16:52] gremo commented on #154
Maybe [this integration](https://github.com/gremo/nest-winston/commit/bb8530cc153a290219dad127f4ccbb2e06f3c0dd) is what you are looking for?

However, the `setContext` method is available when you use Winston module as your main logger service, not when using the dependency injection. In other words, the loggers are two distinct, different instances.

[2020-05-16 16:55] gremo commented on #148
Can you please provide a minimal repository/example? I'm trying to understand if this is something related to `winston-mognodb` or this library.

Because the error is:

I think this is something wrong with `winston-mongodb` typings.

[2020-05-16 16:56] gremo commented on #137
Are you able to work on a PR implementing this feature?

[2020-05-16 16:57] gremo commented on #122
I' completely open to suggestions, improvements and PRs... so asking the same? Updates @ibrcko @TrejGun

[2020-05-16 23:28] TrejGun commented on #122
@MickL has a good idea about using @Inject

[2020-05-25 14:31] MickL commented on #122
What I dont understand is why Nest.JS logs have a context but we cant set the context? @ibrcko Could you please point out what exactly the problem is?

[2020-06-01 22:26] fjgal opened #165 "structured logging (info objects)"
First things first, thanks for putting together this NestJS module.

We want to be able to use structured logging in our, not only json formatted output but also the ability to include application specific key-value pairs. This is something that Winston already supports, known as [info objects](https://github.com/winstonjs/winston#streams-objectmode-and-info-objects).

I could not find a way of ac

[2020-06-02 10:59] gremo commented on #140
Hi @idrisadetunmbi, I improved the README in 6157eebfad1e327866b2817cdb76235783824c5e. It should be clear now how to accomplish what you are asking.

Feel free to comment further!

[2020-06-02 10:59] #140 closed

[2020-06-02 11:04] gremo commented on #165
Hi @fjgal, first thanks for your contribution!

Just to be clear, we are talking about using this package as nest main logger (requests, errors, etc.).  I have a couple of question, as TypeScript is not my "main" language:

1. How you can change the signature (from` string` to `any`) and still get a correct implementation for the `LoggerService` interface?
2. Say that you make a PR with this chang

[2020-06-02 11:05] gremo commented on #154
Closing, feel free to comment further if you need any help.

[2020-06-02 11:05] #154 closed

[2020-06-02 11:06] gremo commented on #148
Closing, feel free to comment further if you need any help, or share your solution (if you have one).

[2020-06-02 11:06] #148 closed

[2020-06-02 13:52] fjgal commented on #165
Hi @gremo , thanks for the quick response!

Disclaimer: TypeScript is not my main language either...

Yes, this package will be the nest main logger as well as the logger used by the application code.

I believe this is working as a [function overload](https://www.typescriptlang.org/docs/handbook/functions.html#overloads). The TS compiler will validate the code against both signatures and one will

[2020-06-02 16:29] gremo commented on #165
I see! So, if you have some spare time, go ahead and write a PR. I've been doing a major refactoring today, so clone/fork this repository again.

I think the PR would be quite "difficult" to accomplish. Some hints and thoughts:

1. Follow the contributing section (VS Code, linting, etc.)
2. No BC breaks if possible
3. Maybe it's a good idea to introduce a new class, as you said, `StructuredWinston

[2020-06-05 17:21] ibrcko commented on #122
@gremo @TrejGun @MickL
Hey guys, I'm sorry about my absence.

Unfortunately, I won't be able to add this improvement to the "nest-winston" logger since I am occupied well over my head.

I'm going to close this issue.
If you think that it is still relevant even without my engagement, feel free to reopen it.

Once again, sorry for the stall.

[2020-06-05 17:33] MickL commented on #122
Cant you leave it open? Maybe someone else picks it up.

[2020-06-05 17:36] gremo commented on #122
@MickL reopened

[2020-06-08 16:14] fjgal commented on #165
Sounds good, I'll try to find some time to work on it. Thanks!

[2020-06-12 04:58] mizozobu opened #171 "[Release Request]"
I’ve been waiting for `WinstonLogger` to be exported. Looks like it’s been done already. Can we get a new version released?

[2020-06-12 08:00] gremo commented on #171
Done sir. Version 1.3.5

[2020-06-12 08:00] #171 closed

[2020-06-13 11:09] liemlylac opened #172 "Nest can't resolve dependencies 'Logger' provider"
Many thanks for module, I have added to my personal project, following [readme](https://github.com/gremo/nest-winston#use-as-the-main-nest-logger-also-for-bootstrapping), everything is fine for me until apply NestWinston as default (also for bootstrapping) I cannot start project.

Please help me to point out my mistake, may I misunderstanding for

Details of log is showing like this:

[code]
Here

[2020-06-14 11:25] gremo commented on #172
Hi @liemlylac are you sure you are using the Logger form '@nestjs/common'?

Also, take a look to https://github.com/nestjs/nest/issues/4868 issue I opened for asking how to inject the Nest logger.

[2020-06-15 14:19] liemlylac commented on #172
Yeah, by restore all code, I still couldn't inject Logger (from `@nestjs/comm`), I am trying to create my own logger service (for core module) which extends Logger (from `@nestjs/comm`) and using `NestFactory.create(AppModule, logger: WinstonModule.createLogger({...})` in my `main.ts` file, now I can inject my winston logger (also for bootstrapping) to my service. Thanks you so much

[2020-06-15 14:19] #172 closed

[2020-06-15 20:02] gremo commented on #172
You're welcome! Glad to know 👍

[2020-06-26 11:29] rubiin opened #182 "can i get a full example of how to implement and log?"
I am using forRoot method and injecting  using `@Inject(WINSTON_MODULE_PROVIDER) private readonly logger: Logger`. however when i do this.logger.log('some message') i get an error

[code]

using transaport.console and transport.file

[2020-06-26 11:34] gremo commented on #182
Hi @rubiin , please post the full configuration that you are using. Also, try first to update the `winston` package. It has been updated recently, maybe it's their fault.

[2020-06-26 11:38] rubiin commented on #182
iam importing like this in app.module

[code]

and in a controller of my usermodule , i am injecting as
[code]

and using the logger as  ``` this.logger.log('')```

[2020-06-26 11:38] rubiin commented on #182
@gremo

[2020-07-01 19:59] gremo commented on #182
Sorry forgot to reply. Honestly, I don't know what's is going on here. Are you able to create a repository (minimal example) for this issue?

[2020-07-15 19:30] marcelom56 commented on #182
@gremo , I had the same problem than you. I solved passing the context (in the first argument) to `log` function.

[code]

[code]

[2020-07-16 12:31] likepeach789 opened #195 "winston exceptionHandlers is not printing logs to file"
## Env:
1. Node: v10.19.0
2. Nest: v7.3.2
3. Nest Winston: ^1.3.6
4. winston: ^3.3.3
5. OS: Mac

## Issue:
When i configure exceptionHandlers, the file got created but no log saving in the file.

## Configure
[code]
The console directly print below but there is no content in the file `/Desktop/logs/exception.log`
[code]

[2020-07-16 12:52] gremo commented on #182
@marcelom56 @rubiin if you are using `WINSTON_MODULE_PROVIDER` injection token, like this example:

[code]

... it means you are using the `winston` package "directly". Looking at the package [README](https://github.com/winstonjs/winston), I can't see any evidence of using `logger.log` without specify any level, that might cause the error reported.

[code]

TLTR: always specify a level when using

[2020-07-16 12:52] #182 closed

[2020-07-16 13:33] rubiin commented on #182
sure that helps

[2020-08-07 16:13] marcelom56 commented on #195
@likepeach789 did you found a solution about it? I am having the same problem here.

[2020-08-07 18:54] gremo commented on #195
I think (just guessing) that the exception handler works only when this module is used as main Nest logger. Can we make a quick teest? So I can also updated the documentation. Thanks both.

[2020-08-20 10:06] hehehai opened #214 "multiple Loggers??"
[how use multiple Loggers](https://github.com/winstonjs/winston#working-with-multiple-loggers-in-winston)

[2020-08-26 16:49] gremo commented on #214
Hi @hehehai, as you probably already know this module isn't designed to work with multiple loggers. Because how Nest works, there is just one service/instance of the winston logger itself. I fear it will never be possible without rewrite this module from scratch.  I'll close this issue but feel free to work on a PR (without breaking changes).

[2020-08-26 16:49] #214 closed

[2020-09-09 13:51] vorotech commented on #165
Hey folks,
This is my proposal #228  for structured logging (`meta` property) without breaking the Nest interface

cc: @fjgal @gremo

[2020-09-11 16:41] fjgal commented on #165
@vorotech nice, that is a good compromise. Thanks for implementing it.

[2020-09-11 16:42] fjgal commented on #165
we can close this issue, solved in https://github.com/gremo/nest-winston/pull/228

[2020-09-11 16:42] #165 closed

[2020-09-15 11:22] MegaRoks opened #231 "I get from logger.info method [object Object]"
I made model in folder `modules/logger`.
[code]

My config file of logger in folder `modules/logger`.
[code]

After a mode an interceptor in folder `modules/logger/interceptor`.
[code]

In my `app.module` I added my `logger.module`.
[code]

Where I run me app I see in console `[object Object]`.
[code]
But usual console.log is show all object.

Why is it work so? Where I make mistake?

[2020-09-15 15:41] gremo commented on #231
Hi, let's see if @vorotech  can help, he made some changes to the logging system a few days ago.

[2020-09-18 18:42] vorotech commented on #231
@gremo @MegaRoks

I can reproduce and think it's misconfiguration. Might be README need to be adjusted slightly. Take a look at the existing example:

[code]

And

[code]

The problem here is that you inject the instance of the Winston Logger, which doesn't use the **nest-winston** Logger to format message. So the `utilities.format.nestLike()` cannot output it properly.

This can be fixed in few w

[2020-09-18 19:54] gremo commented on #231
@vorotech thanks for your time. If this is a documentation fault feel free to open a PR to improve it!

[2020-09-19 08:05] opensas opened #233 "how to log http requests (something like morgan)"
Is there some example to tell winston to automatically log http requests?

Something similar to just doing:

[code]

Or to what you can achieve with [express-winston](https://github.com/bithavoc/express-winston)

[2020-09-19 12:42] MegaRoks commented on #231
@vorotech Thanks for the answer and explanation.

[2020-09-19 12:42] #231 closed

[2020-09-26 16:59] bitsofinfo opened #235 "Using as Main logger: fails for unit tests: RootTestModule"
I followed the directions to use this as the main logger, and I am importing the Logger and LoggerService per the readme in a class that a unit test utilizes. Just running the app, things work fine, however with I `npm run test` I get this

[code]

[2020-09-26 17:07] bitsofinfo commented on #235
I get the same thing just trying the quick start method

[code]

[2020-09-27 09:14] gremo commented on #235
Hi, are you able to setup a minimal github repo as an example?

[2020-09-27 09:16] gremo commented on #233
Hi @opensas , I think that the right way to do this is to implement a [custom interceptor](https://docs.nestjs.com/interceptors) (if using this library with dependency injection). If you are using nest-wiston as the main Nest logger then it should log requests automatically.

I'm closing this, feel free to reply if you have any quesiton.

[2020-09-27 09:16] #233 closed

[2020-09-28 21:58] #235 closed

[2020-09-30 07:31] ShareinSK opened #238 "How to pass in dynamic label?"
I have used Nest-Winston for main logging including bootstrap.

This is my configuration

[code]

And this is what it logs now `[NestWinston] debug     9/30/2020, 12:56:51 PM debug - {"abc": "xyz"}`

How do I print the class name where the error occurred in the place of `NestWinston` ?

I tried with label but it wasn't dynamic.

[2020-09-30 12:40] gremo commented on #238
You're right, the first argument of `nestLike` is just the application name. In order to use "dynamic" label you could use the `context` argument or `setContext` method?

[2020-10-03 05:55] ShareinSK commented on #238
But when using NestWinston for bootstrapping it does not provide the `context` or `setContext` method.

[code]

Can you provide an example of how to do that?

[2020-10-09 12:59] TrejGun commented on #238
@ShareinSK enjoy

[code]

[2020-10-10 06:39] ShareinSK commented on #238
@TrejGun Thanks for the example, it worked.

But in the given example, the `context` needs to be added as a second arg to every logger command.

Is there an option to initialize the logger inside the class constructor with the `context`, so that everytime the context need not be specified in a class.

[2020-10-10 12:51] TrejGun commented on #238
ask @gremo

[2020-10-10 15:54] ShareinSK commented on #238
@gremo Is there an option to initialize the logger inside the class constructor with the context, so that everytime the context need not be specified in a class.

If we could do something like

    _logger: any;
    constructor(@Inject(WINSTON_MODULE_NEST_PROVIDER) private logger: LoggerService) {
        this._logger = logger.setContext('ClassName');
    }

[2020-10-14 05:28] rubiin commented on #233
can you give an example snippet

[2020-10-14 05:40] rubiin opened #243 "how to use inside a filter"
I want to use this inside a filter where i am catching all 500 exceptions. can anyone provide me with some snippet to get going

[2020-10-14 05:47] opensas commented on #182
I stumbled upon the same problem.

I found [this issue](https://github.com/winstonjs/winston/issues/1166) at winston repo:

[source](https://github.com/winstonjs/winston/issues/1166#issuecomment-432660829)

This is how I'm using it:

[code]

It seems inconsistent with nestjs Logger (vscode tooltip displays: `(method) Logger.log(message: any, context?: string): void`)

Perhaps we should override wi

[2020-10-14 06:26] opensas commented on #182
Moreover, from winston doc, every example given with logger.log receives the log level as first parameter, and in the [ using loggin levels](https://github.com/winstonjs/winston#using-logging-levels) section says:

[2020-10-14 06:29] opensas commented on #233
I tried setting nest-winston as the main nest logger as described [here](https://github.com/gremo/nest-winston#use-as-the-main-nest-logger-also-for-bootstrapping) but it won't log requests.

I also think it would be great to have working examples or snippets for these basic usage scenarios.

[2020-10-14 09:12] rubiin commented on #233
yeah, I think there should be examples directory with some code for working examples

[2020-10-16 09:20] JustDoItSascha opened #244 "Use as the main Nest logger (also for bootstrapping) is not working"
I tried to implement the module as described in the chapter "Use as the main Nest logger (also for bootstrapping)", but I always get the errors with `Nest can't resolve dependencies`. Is this chapter still working with Nest 7.4.2?

[2020-10-16 09:24] gremo commented on #244
Thanks for opening the issue. I'm quite busy right now but I'll check this weekend.

[2020-10-19 13:19] ShareinSK commented on #244
@JustDoItSascha  I was able to setup as the Main Nest logger. Could share some code on how you configured?

[2020-10-19 13:20] ShareinSK commented on #238
Closing this but opening a new ticket for single instantiation of logger.

[2020-10-19 13:20] #238 closed

[2020-10-19 13:23] ShareinSK opened #247 "Initializing logger with setContext inside constructor"
@gremo Is there an option to initialize the logger inside the class constructor with the context, so that everytime the context need not be specified in a class.

If we could do something like

    _logger: any;
    constructor(@Inject(WINSTON_MODULE_NEST_PROVIDER) private logger: LoggerService) {
        this._logger = logger.setContext('ClassName');
    }

    async test() {
        this._logger

[2020-10-19 15:20] JustDoItSascha commented on #244
@ShareinSK Yeah setting as the main logger works, but could you import it in the AppModule / other Services?

Like it stands in the docs:

[code]

and

[code]

Because this is the part which is not working, Nest can't find `LoggerService`.

[2020-10-19 15:24] gremo commented on #244
@ShareinSK thanks for helping in this issue. @JustDoItSascha I'll check in a couple of hours, maybe the documentation is not clear enough or maybe a bit outdated.

[2020-10-19 16:02] gremo commented on #244
Hi @JustDoItSascha , I can confirm that the module still works with the latest version. Documentation seems fine, here is what i did, I used the `nest` utility (`npm i -g @nestjs/cli`):

[code]

Then, I followed the instructions in the docs ("Use as the main Nest logger (also for bootstrapping)").

Here is some files, hope this helps to you:

[code]

[code]

[code]

[2020-10-19 16:02] #244 closed

[2020-10-19 16:27] gremo commented on #247
The class [`WinstonLogger`](https://github.com/gremo/nest-winston/blob/master/src/winston.classes.ts#L5) from `nest-winston` implements [`LoggerService`](https://github.com/nestjs/nest/blob/master/packages/common/services/logger.service.ts#L11) from `nestjs/common`, which is an interface and **doesn't define any `setContext` method**.

However, as you may notice, both the `WinstonLogger` and the o

[2020-10-19 16:27] #247 closed

[2020-10-19 16:27] gremo commented on #243
Hi, what do you mean "Use this inside a filter"?

[2020-10-19 16:45] gremo commented on #195
I thinks it's an old issues from the `winston` package, see https://github.com/winstonjs/winston/issues/1613 and https://github.com/winstonjs/winston/issues/886 and https://github.com/winstonjs/winston/issues/1802.

I did a quick test and can't get it to work. Feel free to comment this issue again if you think that is a fault of this module, thanks!

[2020-10-19 16:45] #195 closed

[2020-10-20 03:55] rubiin commented on #243
i want to use the logger as to log response inside a filter

[2020-10-25 14:55] taivy commented on #244
I had same issue. The problem was that I was using logger in imported modules, not in app module directly.

So my app.module.ts was like this:
[code]
and logger was used in MyModule.service.ts like this

[code]

I needed to add Logger to **providers** of MyModule like this:

[code]
Also it's not necessary to add Logger to providers in main app module in that case.

[2020-10-27 17:53] jembach opened #253 "Best approach for unit testing modules"
Hi,

I have recently started using this package. As I run my unit tests all tests failed that are injecting the logger.

[code]

I'm using the [Quick start example](https://github.com/gremo/nest-winston#quick-start) for implementing `nest-winston`.
For testing I'm using the provided way by the `nestjs` [docs](https://docs.nestjs.com/fundamentals/testing#testing-utilities).

Could anyone provide an

[2020-11-08 21:42] Meywether opened #258 "Unable to inject Logger in Repository and logrotate function"
Hello,
thanks for your great work here.
I do have a question:

I was unable after following your tutorial using nest-winston as nestjs logger to use it inside a repository class:

Here some code:

[code]

When the user is already in the database the line this.logger ... is called, but ending up in this error message:
```TypeError: this.logger.error is not a function``` . This message is also logge

[2020-11-10 19:04] NoahMarconi commented on #67
@Zaynex do you have an example of what you did?

I'm using the bootsrapping setup and am not seeing how to connect that to typeorm: https://github.com/gremo/nest-winston#use-as-the-main-nest-logger-also-for-bootstrapping

[2020-11-10 23:56] gremo commented on #258
Hi, if you are using `forRoot` then you need the  `WINSTON_MODULE_PROVIDER` token along with `Logger` type hint from 'winston'. Just look for the Quick Start section 👍🏻

For the second question have a look here: https://github.com/winstonjs/winston-daily-rotate-file

[2020-11-11 00:00] gremo commented on #253
Can you plase create a minimal repository so I can give it a look?

[2020-11-11 07:21] Meywether commented on #258
Hello Gremo,
thanks for your response, I decided to change my imports of Winston to be the default logger of nest.
I mean, if you are not a newbie to NestJS like me, than its obvious what the mistake is about, maybe can you extend your documentation with an example like you did in your comment?

Regarding Daily Log Rotate, I was a litte bit confused, because the property was available but no docum

[2020-11-14 22:20] Meywether commented on #258
Hello @gremo,
sorry to disturb you again, but I have the same problem again in my repository classes ( only there )
This time I followed: [Quickstart](https://github.com/gremo/nest-winston#use-as-the-main-nest-logger-also-for-bootstrapping).

Again, logger.error, function not defined.

My module within the repository directory provides the Logger class!

Can it be, that because of the super() call

[2020-11-15 20:37] jembach commented on #253
Hi @gremo,

after studying the docs of nestjs and some examples I found a solution that fits my testing cases.

[code]

So I'm just manual injecting the winston logger with a custom mock.

[2020-11-17 11:25] ppcamp opened #262 "Question: How can I insert the context info (module name) into logging"
I wanna know if there's any way to insert  (by default) the module name into logging information. I researched and found that the INQUIRER decorator seems to do what I want, however, how can I put this by default? PS.: I'm using the following configurations.

[code]

[2020-11-17 14:13] Zaynex commented on #67
https://github.com/Zaynex/nestjs-demo

[2020-11-19 11:44] AndonMitev opened #267 "Question: How i can read from mongodb"
Hello i use nest winston combined with winston-mongodb for transporter and for now successfully I save my data into the DB, my questions is can i use nest winston to read or i need to get it by my self?

[2020-11-19 13:46] gremo commented on #267
Hi, this library doesn't provide any reading functionality.

Maybe this section from the `winston` package could help you: https://www.npmjs.com/package/winston#querying-logs

[2020-11-19 13:46] #267 closed

[2020-11-19 16:01] xRiot opened #268 "Support for @algoan/nestjs-logging-interceptor?"
Hey there!

As it turns out none of the messages from `@algoan/nestjs-logging-interceptor` ([source](https://github.com/algoan/nestjs-components/tree/master/packages/logging-interceptor) | [npm](https://www.npmjs.com/package/@algoan/nestjs-logging-interceptor)) are being captured when using nest-winston. That's not the case if I switch to `nestjs-pino`. I also noticed that `nestjs-pino` claims tha

[2020-11-22 16:57] #253 closed

[2020-12-09 17:55] elepedus opened #274 "How would I use this module with Google's logging-winston middleware?"
Thanks for the really cool module. I added it into our Nest project using the bootstrap method and everything worked out of the box! 👍

However, we use Google App Engine in production, and we would like our log output to be grouped by request. Normally, we use @google-cloud/logging-winston to create an express middleware which automagically picks up GAE correlationIds etc. This is explained [in th

[2020-12-29 15:37] rubiin opened #275 "error on setting as global logger"
when I set it as global logger, I get

`UnhandledPromiseRejectionWarning: TypeError: instance.getTimestamp is not a function`

[2020-12-30 03:29] minhntm opened #276 "There is no info function in WinstonLogger class"
I'm surprised that `nest-winton` doesn't provide `info` function, which is used in `winston` [document](https://github.com/winstonjs/winston#using-logging-levels) frequently. Furthermore, `log` function sticks with `info` level. It's very confused and wastes a lot of time when moving from `winston` to `nest-winston`. Why don't we implement `info` and `log` function like the original library? Can I

[2020-12-30 08:43] rubiin commented on #275
I am using like this:
[code]

[2020-12-30 08:43] rubiin commented on #275
and in main.ts\

[code]

[2020-12-30 10:43] gremo commented on #276
I'ts not something we can implement with a PR, it's a design decision by Nest. When using this module as main Nest logger, you use  an implementation of `LoggerService` interface from Nest package, that interface doesn't provide any `info()` method.

However, when using the dependency injection (in controller, services, etc.) you are directly accessing a `Logger` instance from Winston and the `inf

[2020-12-30 10:43] #276 closed

[2020-12-30 10:53] gremo commented on #275
Well, there is too much code to debug or try to get a clue on which can cause that error. I would suggest to to remove all the modules/dependencies and only us the `WinstonModule`. Try to setup a minimal example so I can reproduce the error, OK?

[2020-12-30 10:58] gremo commented on #274
Hi, glad to ear that all works fine for you 👍

To the question, where you need to call `makeMiddleware` function, passing the logger instance? If you are using the dependency injection technique (that is using `forRoot` or `forRootAsync`) you should be able to retrieve the winston `Logger` instance (to pass to `makeMiddleware`) using the `WINSTON_MODULE_PROVIDER` injection token.

[2020-12-30 11:03] rubiin commented on #275
let me try to setup a minimal example

[2020-12-30 11:28] gremo commented on #268
Hi, `nest-winston` works out of the box with `@algoan/nestjs-logging-interceptor` without any special configuration. Just setup the library as explained in the section "Use as the main Nest logger". I've done a quick test for you and it works fine.

There is nothing special with `nestjs-pino` or n`est-winston`, both work with the interceptor if you replace the Nest logger with a custom logger. I s

[2020-12-30 11:28] #268 closed

[2020-12-30 11:44] gremo commented on #274
I was able to make it work getting the winston instance from `src/main.ts`:

[code]

Of course, I get an error about authorizations, which is good:

![Logging](https://user-images.githubusercontent.com/1532616/103349265-af387b00-4a9c-11eb-862e-bc95e28d3c07.PNG)

Don't forget to use `forRoot` or `forRootAsync` in you app module. Feel free to comment or re-open this issue if you have any problem.

[2020-12-30 11:44] #274 closed

[2020-12-30 11:54] gremo commented on #262
Can you provide a link about the INQUIRER decorator? Can't find anything...

[2020-12-30 11:58] gremo commented on #258
So sorry for the late response, I was a bit busy at work an all the stuff.

Have you solved your issue? AFAIK there is not problem with super(). Just try to `console.log(this.logger)` inside the repository and see if it's `undefined`.

[2020-12-30 12:01] gremo commented on #243
There is no built-in method to log request and response, it's up to the developer. However, you can use any third party library like `@algoan/nestjs-logging-interceptor` (or try to just google for a more popular one).

Also take a look at https://github.com/gremo/nest-winston/issues/268 where I provide an example to log request and response using that libray.

[2020-12-30 12:01] #243 closed

[2020-12-30 12:44] rubiin commented on #275
Fixed it. I was using Logger.log inside bootstrap after replacing it by console.log, the issue resolved

[2020-12-30 12:45] gremo commented on #275
Glad to know! So, I'll close this isse.

[2020-12-30 12:45] #275 closed

[2020-12-30 13:06] rubiin commented on #243
@gremo can we make file transports optional. I only want them when NODE_ENV = production . for other environments, I only want console transaport

[2020-12-30 13:26] gremo commented on #243
@rubiin have you see my example? Is this what you want? For making transport optional it fairly easy with a conditional.

[2020-12-30 13:53] rubiin commented on #243
yeah , I used the other i@algoan/nestjs-logging-interceptor works out of the box for my need

[2020-12-30 13:54] gremo commented on #243
Good to know!

[2020-12-30 13:54] rubiin commented on #243
can you provide me a snippet for making transport optional

[2020-12-30 14:09] gremo commented on #243
It could work this way (not tested) assuming `app.modules.ts`:

[code]

[2020-12-30 14:10] rubiin commented on #243
cool

[2021-01-04 09:13] Meywether commented on #258
Hi,
will check it asap!
Best regards
Meywether

[2021-01-12 12:14] MatthewPeterGreen opened #279 "getTimestamp exception thrown when creating Application logger"
Creating an application level Logger (via the bootstrap) now appears to cause the following exception:

[code]

I created a vanilla application with the following main.ts file:

[code]

Then adding a simple log to the app.controller.ts file

[code]

This should cause the issue as described. If you need any more information just let me know.

Thanks

[2021-01-19 17:19] gremo commented on #279
Hi, are you able to setup a minimal repository example?

[2021-01-19 20:24] MatthewPeterGreen commented on #279
Hi, no problem. I created a barebones project to illustrate the problem. You just need to run it to see the error.
https://github.com/MatthewPeterGreen/nest-winston-issue

[2021-01-21 13:08] renovate[bot] opened #281 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-26 13:20] Nightbr commented on #279
Like in this issue https://github.com/gremo/nest-winston/issues/275, I get the logger in `main.ts` with `const logger: Logger = app.get(WINSTON_MODULE_NEST_PROVIDER);` in it has fixed the issue. Hope it helps.

[code]

[2021-01-26 13:24] gremo commented on #279
@Nightbr good catch!

I can't understand - however - why passing the `logger` option isn't working, while getting from the service container solved the issue. Any clue? I may update the documentation if we find the exact reason why isn't working.

[2021-01-26 13:28] Nightbr commented on #279
Seems the module initialized the `instance` so when you override the default logger init with  `app.useLogger(app.get(WINSTON_MODULE_NEST_PROVIDER));`.  you need to get the logger with the correct Token `WINSTON_MODULE_NEST_PROVIDER` otherwise the logger is not defined.

[2021-01-28 09:10] danielevigi opened #284 "Question: relation between nestjs LoggerService levels and winston levels"
What is the relationship between nestjs LoggerService levels and winston levels?

For example if I use `this.logger.info` what level of winston am I using?

[2021-01-28 09:12] gremo commented on #284
Hi, thanks for asking. Take a look here: https://github.com/gremo/nest-winston/blob/master/src/winston.classes.ts

Basically:

- **Nest log -> Winston info**
- Nest error -> Winston error
- Nest warn -> Winston warn
- Nest debug - Winston debug
- Nest verbose -> Winston verbose

Do you think this is a relevant information and README should be update?

[2021-01-28 09:17] danielevigi commented on #284
thanks

[2021-01-28 09:17] #284 closed

[2021-01-29 15:41] danielevigi commented on #284
Sorry, I didn't read the question. Yes, in my opinion it would make sense to have this information in the README

[2021-01-30 22:20] javiesses commented on #122
Hi team! Are you planning to add the `setContext()` to your `LoggerService`?

[2021-02-12 09:45] Carl-Meyer commented on #253
this is what I did and it seemed to have worked for me, not sure if this has an impact on testing performance. Using a mock is probably better.

[code]

[2021-02-22 11:08] rubiin opened #300 "logs are not logged"
After setting as default logger  with ` app.useLogger(app.get(WINSTON_MODULE_NEST_PROVIDER));`, logs are not logged
I am doing logging as:
`constructor(@Inject(WINSTON_MODULE_NEST_PROVIDER) private readonly logger: LoggerService) { }`

and

`this.logger.log('some log')`

[2021-02-25 16:41] ppcamp commented on #262
https://github.com/nestjs/docs.nestjs.com/issues/937
https://github.com/nestjs/nest/issues/3819

I couldn't find the another link that I've used to make this question

[2021-03-02 13:13] Meywether commented on #258
Hi,
took a little but longer due to my work.
No its defined, getting a bunch of logs, the error message is still:
``
[NestWinston] Error     2.3.2021, 14:11:29 [RpcExceptionsHandler] this.logger.log is not a function - {"stack":["TypeError: this.logger.log is not a function\n
``

Best regards Meywether

[2021-03-03 09:07] gremo commented on #300
Hi, can you paste at least the contento of the boostrap file and the service where you are trying to inject the logger?

[2021-03-03 09:10] gremo commented on #262
Interesting, so the INQUIRER provides what? `string` or `object` representing the module name or?

[2021-03-19 10:15] fmonper1 commented on #122
I am handling it like this on my controllers, but its a bit messy
[code]

[2021-03-22 16:30] renovate[bot] opened #317 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

This repository currently has no open or pending branches.

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-03-28 19:37] KirianCaumes opened #320 "Issue with date formatting?"
Hello,

I'm not sure if it's a bug or not, but if I want to format my date thanks to "winston.format.timestamp", an error "Invalid Date" is displayed in the console.

[code]

Code example:
[code]

So my question is : why the function "[nestLikeConsoleFormat](https://github.com/gremo/nest-winston/blob/master/src/winston.utilities.ts#L21)" at line 21, does not look like this, to allow custom format

[2021-03-30 08:21] gremo commented on #320
Hi @KirianCaumes `nestLikeConsoleFormat` was intended to "mimic" the default Nest behaviour, that is print the timestamp using `toLocaleString` ([look here](https://github.com/nestjs/nest/blob/master/packages/common/services/logger.service.ts#L111)).

If I understand it correctly, using `winston.format.timestamp` with a custom `format` option breaks the `nestLikeConsoleFormat`, right?

[2021-03-31 11:11] KirianCaumes commented on #320
Yep that's it, but you might be right te keep it closer to how the nest console works, don't know 🤷‍♀️

Btw, I don't think my "fix" break anything, as by default the date is displayed with the `toLocaleString` function if you don't set `winston.format.timestamp`.

[2021-03-31 11:23] gremo commented on #320
@KirianCaumes I agree with you. If `winston` allows to pass a custom date format, the `nestLikeConsoleFormat` should continue to work. If it doesn't, it's a design issue.

However, we should handle the case when:

- `winston.format.timestamp` is not passed
- `winston.format.timestamp` is passed without argument
- `winston.format.timestamp` is passed with custom format argument (like your example)

[2021-03-31 11:50] KirianCaumes commented on #320
Like this, you can handle the three different cases:
[code]

Feel free to make it cleaner 😁

ps: I've also handled a bit differently the `meta`, so that it won't be displayed if it's an empty object, but it's not really related to this issue

[2021-03-31 16:31] YuriiZadorozhnyi commented on #233
Can someone provide an example of how to add "nest-winston" to the project to log HTTP requests?

[2021-04-01 10:28] empz commented on #182
I'm sorry but this shouldn't be closed.

If by injecting the Winston logger by doing the following, it seems we end up with the actually Winston logger instance (and not a logger through nest logger interface).
[code]

So I think the injection should be:
[code]

And the typings should be fixed.
[code]

[2021-04-01 14:53] rubiin commented on #182
yes that should be done

[2021-04-03 10:18] gremo commented on #320
Thanks, looking into this right now. I'll keep you updated :)

[2021-04-05 10:10] gremo commented on #300
Can you please take a look at the updated and improved README to see if the issue persist?

[2021-04-05 10:11] gremo commented on #279
I've improved the README, can you both take a look at it and see if the isssue persist?

[2021-04-06 07:14] Nightbr commented on #279
Seems good to me, perhaps a bit complex for new User. Maybe we could create some nestjs boilerplate example with the different configuration? In the code base in an example folder.

[2021-04-06 07:16] gremo commented on #279
Thanks for your feedback. Yes I could create a boilerplate code, but I don't know the conventions about it... can you send me some example (maybe other projects)?

[2021-04-06 07:23] Nightbr commented on #279
Yep sure, for example in `nestjs/terminus`, they have created a folder `sample` be can be called `examples` IMO. And in it you have 1 folder per example. In each folder, you have a minimal nestjs app with the configuration you want to demonstrate.

For this module, I think we could have multiple examples such as:
- Basic Module configuration (what is explain in Quick start)
- Async Configuration (

[2021-04-06 08:11] gremo commented on #279
Thanks, it's a great idea. Should I use the nest cli right?

[2021-04-06 08:13] Nightbr commented on #279
As you want! But the nestcli can help you generate quickly a base app :ok_hand:

[2021-04-06 08:48] gremo commented on #279
Seems I can't. When running the sample app under the "sample" folder of this project, it doesn't work. I think is something about the TypeScript config (and types conflict). It works when I move the sample outside:

![nest](https://user-images.githubusercontent.com/1532616/113684484-91933700-96c5-11eb-81a2-5b45322b0675.png)

[2021-04-06 08:53] Nightbr commented on #279
Could you create a Pull Request where we can see the code & discuss about this, it will be better to not overflow this issue & be able to see your code & changes. Thanks!

[2021-04-06 09:09] gremo commented on #279
@Nightbr you're right, look at https://github.com/gremo/nest-winston/pull/324

[2021-04-07 16:28] gremo commented on #182
@empz I've updated the README, please can you check it out and see if something is wrong or unclean (especially about the injection token)?

Typings are correct. If you look at the [`LoggerService`](https://github.com/nestjs/nest/blob/master/packages/common/services/logger.service.ts#L11) from Nest, you can see that the log function doesn't define any level. You are probably talking about the `log

[2021-04-07 17:35] gremo commented on #320
Have you checked the new tag which includes your fix? It's OK? 👍

[2021-04-07 17:36] gremo commented on #300
Please take a look at the updated README and the upcoming samples. Feel free to comment further if you need help!

[2021-04-07 17:36] #300 closed

[2021-04-07 20:29] KirianCaumes commented on #320
I just check it, and it works fine, thank you!

Btw, what do you think about hidding the "meta" data if it is empty, like I did in my previous message?

[2021-04-07 22:34] gremo commented on #320
Sorry forgot about it, it depends on how Nest logger do in this case (since that formatter should mimic the Nest one). Can you check and report? Maybe we should open another issue for this.

[2021-04-08 07:53] KirianCaumes opened #328 "Hidding meta data if empty"
Hello,

Has discussed in a previous issue, it might be a good idea to hide the "meta" data in "[nestLikeConsoleFormat](https://github.com/gremo/nest-winston/blob/master/src/winston.utilities.ts#L31)" if empty.

Currently, this is displayed in the console:
[code]

But in the classic Nest console it's:
[code]

A simple solution would be to change to something like this:
[code]

What do you think?

[2021-04-08 13:17] gremo commented on #328
Thanks! So, now Nest prints the context (a string) [here](https://github.com/nestjs/nest/blob/b29714cb66830931a35cfa1f9815ceca2d053822/packages/common/services/logger.service.ts#L163). And just before we have:

[code]

So your request seems so right, don't remember why I didn't notice that at the first time.

Can you confirm that `meta` could be `undefined`, a `string` or an `object`?

[2021-04-13 16:32] KirianCaumes commented on #320
Hey,
It seems that we missed something.
Today, after a few days of nest-winston working fine, a strange bug appeared.
It took me some times to figure it out, but it's seems that when you do:
[code]
It doesn't return "Invalid Date" as:
[code]
But it throw an error: "Uncaught RangeError: invalid date".
Don't know how I missed this, but when you let this bug, my nest project won't run:
[code]
An easy

[2021-04-13 17:33] KirianCaumes commented on #328
As far I can tell, "meta" is always an object, but most of the time empty.
I've only seen it with data when an error is thrown.
I think, somehting like should be enough:
[code]

[2021-04-14 10:17] gremo commented on #320
Hi there, why the `timestamp` passed to the formatter is in the wrong format (not a date format)?

[2021-04-14 13:37] KirianCaumes commented on #320
Here is an example:

[code]

[2021-04-14 19:32] #320 closed

[2021-04-18 23:41] Zyles opened #337 "An argument for 'logger' was not provided"
I am unable to get this to work inside an exception filter. I tried all three installation ways.

Error:
[code]

main.ts:
[code]

app.module.ts:
[code]

internal-server-exception-filter.ts:
[code]

I am not sure what it is asking of me. What argument does it want?

What am I missing?

[2021-04-18 23:47] Zyles commented on #337
I love solving problems as soon as I post them.

It needs a Logger injected as such:

`new InternalServerErrorExceptionFilter(new Logger())`

[2021-04-18 23:47] #337 closed

[2021-04-19 07:07] gremo commented on #337
Look here: https://docs.nestjs.com/exception-filters

Error is here, where you try to create a new instance without passing the logger argument, which is injected:

[code]

I think the right solution is:

[code]

This way, the logger service will be automatically injected (no need to do `new Logger()`).

[2021-04-26 16:35] sevetseh28 opened #340 "Some logs are not automatically injected with dd-trace-js (only through HTTP)"
Hi. I have a HTTP transport to send logs to Datadog, but some of them dont include the automatic tags added by the dd-trace-js package. This only happens with the Http transport.. Im using the WinstonModule.createLogger approach to have all logs sent to Datadog.
All of them are appearing in the console though, with all the trace info.

Has this happened to anyone?

Thanks!

[2021-05-21 09:18] TLmaK0 opened #349 "Cannot invoke an object which is possibly 'undefined' with strictNullChecks in tsconfig.json"
After add `strictNullChecks` to tsconfig.json all references to the injected winston loggers gets `Cannot invoke an object which is possibly 'undefined'`

[code]

[code]

[code]
nest-winston: 1.4.0

[2021-06-13 10:15] wf250056 opened #359 "logging on the wrong level"
I replaced the Nest logger(also for bootstrapping) and then created a middleware to be used on all requests. I want it to log  on 'http' level, but it always logs on 'Info level'.
here is my code:

[code]
and the middleware:

[code]

[2021-06-13 10:46] wf250056 commented on #359
I understand that Nest LoggerService has only 5 levels, so the question is if there is a way to access the winston logger from the middleware directly?

[2021-07-01 10:05] JSEvgeny opened #364 "Nest can't resolve dependencies of the service"
Hey.

I'm using the first approach from readme with `WinstonModule.forRoot` for `app.module`. I then inject it in my email service thru dependency injection in constructor and everything works as charm so no issue with that.

But my `email.service.spec` is now failing with error `Nest can't resolve dependencies of the EmailService`

`
Potential solutions:
    - If winston is a provider, is it part

[2021-07-02 06:09] JSEvgeny commented on #364
In addition to the issue. I was able to successfully mock the logger for module I was using it with, but then another module that is dependent on the first one, has broken tests again even when I use the same mocking approach

[2021-07-08 03:38] TrejGun opened #368 "nestjs 8 compatibility"
Heya!
Now when nestjs 8 is out we would like to know about module compatibility.
Please write a short guide on how to migrate if necessary or just close this issue if there are no changes

[2021-07-08 09:04] vschoener commented on #368
I just tried to reinstall with nestjs 8 and I got this:

[code]
So maybe 8 already works out of the box but the requirement needs to be changed before?

[2021-07-08 14:52] gremo commented on #368
Thank you for opening the issue. I'll sumply do qhat @vschoener suggested in the next few days, and change the peer dependencies if needed.

[2021-07-15 18:47] danshapir commented on #368
v8 also added new functions to the logger that allow passing more variables and not just the context. Please also expose those variables.

[2021-07-19 16:06] orecus commented on #368
@gremo any updates on v8 compatibility? :)

[2021-07-20 13:16] gremo commented on #368
@orecus I've done a quick test with the basic example, updated to v8, and it works just fine 🥳.Need to test the other samples too, maybe you could help? I can upload the sample/quick-start-v8 if you wish, but it's basically the same as previous sample.

@danshapir I see. What do you think, should I release v2 or just stick with the previous `LoggerService` implementation? Any ideas?

[2021-07-20 13:34] gremo commented on #137
Closing, feel free to explain the feature or maybe make a PR to implement it.

[2021-07-20 13:34] #137 closed

[2021-07-20 13:35] gremo commented on #258
@Meywether if you still have errors, let us know. I'll close this in the meanwhile 😄

[2021-07-20 13:35] #258 closed

[2021-07-20 13:36] #279 closed

[2021-07-20 13:38] gremo commented on #359
Can you please explain what you need to access in your middleware? Thanks!

[2021-07-20 13:41] gremo commented on #349
@TLmaK0 let me know if you have still problems with that.

[2021-07-20 13:41] #349 closed

[2021-07-20 13:42] gremo commented on #364
Hi @JSEvgeny is this still relevant?

[2021-07-20 14:39] danshapir commented on #368
V8 works, just need to update peer dependencies.

I suggest a v2, yeah. Or v1 with supporting both functions, that's what nest did.

[2021-07-27 16:21] bm77525-kr commented on #368
Would love to see the peer deps get updated if everything works fine, just to get unblocked, and then maybe a follow-up v2 if that will take a little extra time.

[2021-07-28 07:13] gremo commented on #368
I would update it right now (as @bm77525-kr suggested), but I have some issues with Travis CI. My profile has a negative credit balance (???) so builds have been disabled. That's also why the Renovate bot can't automatically merge PRs.

I guess I have to wait next month to get my credit back. Or, if you can help me to resolve the issue, feel free to give me some help 😄

[2021-08-03 04:38] NilsLeger commented on #368
Hi @gremo, any updates? Were your Travis CI builds enabled again 😋? Do you need support?

[2021-08-03 13:23] gremo commented on #368
Yes, i definitely need some kind of help fixing Travis.

[2021-08-05 10:43] Zyles opened #378 "Nest can't resolve dependencies"
I am having the problem where nest can't find Logger dependency:

[code]

I saw a few other issues with this but I didn't find an answer with the solution.

I setup the logger in main.ts and added Logger to providers array in my app.module.ts

Now in my TaskService can't import the logger. Since the logger should be global I shouldn't need to import it in my module?

[code]

[code]

[code]

[code]

[2021-08-06 12:53] maxerbox commented on #368
You've used all your credits, and you can't recover them. See https://docs.travis-ci.com/user/billing-overview/#free-plan.

You can ask free monthly credits by asking the travis team, see https://docs.travis-ci.com/user/billing-faq/#what-if-i-am-building-open-source

[2021-08-06 13:04] maxerbox commented on #368
Your builds last ~2min40.
We will say that you do 40 builds a month
Let's say ~107 minutes of build.
If you keep using a Linux env : it's 10 credits / minute : https://docs.travis-ci.com/user/billing-overview/#usage---credits

1200 credits should be enough.

[2021-08-11 03:02] smn7231 commented on #368
Hi @gremo

We stay waiting for update!
Please just update the package.json dependencies

Thanks

[2021-08-12 19:53] predam commented on #368
I'm planning to use this in my project
🥇 waiting for the big release

[2021-08-12 20:01] schealex commented on #368
same here

[2021-08-12 23:12] TrejGun commented on #368
You actually do not need travis at all. you can run tests inside GH actions

[2021-08-13 07:07] maxerbox commented on #368
We should submit a PR with the action workflows then !

[2021-08-13 11:40] TrejGun commented on #368
https://github.com/gremo/nest-winston/pull/381

[2021-08-13 14:55] delucca commented on #368
same here!!

[2021-08-17 15:14] FlxEd commented on #368
Can't wait for it as well.
Thanks for the great work !😋

[2021-08-17 16:11] danshapir commented on #368
Just an FYI, it works now with v8, just use - - legacy-peer-deps

[2021-08-17 16:18] gremo commented on #368
Thanks all guys! Right now I'm on holidays ⛱️ and can't access my workstation, but I'll be back in a few days and finally make this module v8 compatible!

[2021-08-18 12:20] ashish-velotio commented on #368
I am eagerly waiting for this

[2021-08-20 10:59] ltudisco commented on #368
Same here!

[2021-08-20 11:17] gremo commented on #368
So I've merged the #381 thanks to @ubudragon and removed the Travis integration. Now I'm going to test Renovate auto merging feature and then, if all it's fine, I'll add v8 compatibility.

[2021-08-20 14:23] goranjviv commented on #378
this might help - https://medium.com/@dvirarad/nestjs-custom-logger-with-rabbitmq-injection-da2f40ccddbd

[2021-08-20 14:37] goranjviv commented on #378
this part in particular:
`Because application instantiation (NestFactory.create()) happens outside the context of any module; it doesn't participate in the normal Dependency Injection phase of initialization. So we must ensure that at least one application module imports the LoggerModule to trigger Nest to instantiate a singleton instance of our LoggerService class. We can then instruct Nest to us

[2021-08-25 13:19] dannyphillips commented on #368
Any updates on this @gremo?

[2021-08-27 13:56] charlesxsh opened #386 "Log file does not been created by using WinstonModule.createLogger"
node: 16.1.0
winston: 3.3.3
nest-winston: 1.5.0
os: mac

[code]

abc.log does not get created by using WinstonModule.createLogger way. The log file will be properly created if using original (winston) createLogger.

[2021-08-29 09:42] vtrphan commented on #368
i'm also waiting for a new release

[2021-08-29 15:04] olakara commented on #368
Is this issue resolved? I am trying to use this package and not able to install because of dependency issue..

[2021-08-31 17:44] gremo commented on #368
@TrejGun @ubudragon can't test locally anymore :( any clue?

[code]

[2021-08-31 18:44] TrejGun commented on #368
https://github.com/gremo/nest-winston/pull/388/files

it looks like you forget to update @nestjs/common

[2021-09-01 06:55] olakara commented on #368
@gremo @TrejGun we will have to update the RxJS as @nestjs/common 8.0.6 needs RxJS 7.1.0

[2021-09-01 07:37] gremo commented on #368
Thank you @TrejGun , I'm re-checking right now! @olakara are you sure?

[2021-09-01 08:16] TrejGun commented on #368
yes you have to update rx

[2021-09-01 09:28] gremo commented on #368
`1.6.0` is out! Thank you ALL of you guys! 🎉🎉🎉

[2021-09-01 09:28] #368 closed

[2021-09-02 08:52] Genbel commented on #378
Also fighting with the same issue, is there any solution?

[2021-09-19 23:21] pkimtani opened #397 "Question: How to add meta data into logs when initialising this wrapper from bootstrap?"
Hi!
First of all, thank you for making this amazing NestJS wrapper of Winston. It's really great and helpful.

I am currently trying to implement this wrapper in my project following the README guides. I am follow the [Replace NestJS logger (also bootstrap)](https://mybookings.easemytrip.com/).

I have a questoin about the usability:

- [ ] After I successfully replaced the NestJS logger, I can no

[2021-09-19 23:27] pkimtani commented on #378
I could get around this by adding `Logger` to the `providers` array of `task.module.ts`. Even though according README, adding to `providers` of `app.module.ts` should suffice, I am not sure why this weird behaviour. I infact ended up removing `Logger` from the providers array of my `app.module.ts`

P.S.: I am new to NestJS ecosystem and still trying to understand.

[2021-09-28 15:58] abdielcr85 opened #407 "Update dependencies with vulnerability"
nest-winston@1.6.0
  └─┬ cli-color@2.0.0
    └── ansi-regex@2.1.1

https://www.whitesourcesoftware.com/vulnerability-database/CVE-2021-3807

[2021-09-29 00:56] Zyles commented on #378
That uses another way by wrapping the entire logging functionality. If I need to do that I don't need to use this package.

I want to do it this way as per documentation: https://github.com/gremo/nest-winston#replacing-the-nest-logger-also-for-bootstrapping but this is not working as documented.

[2021-09-29 01:19] Zyles commented on #378
I also tried using the AppModule:

[code]

Error:
`TypeError: Cannot read property 'combine' of undefined`

Is there a full working example somewhere? The docs are not very helpful.

[2021-10-01 16:26] gremo commented on #407
As we depend on `cli-color` (which requires the affected version `ansi-regex@2.1.1`) I can't force the update. The author of the ibrary should fix it, but I can't see any push or commit in the last two years. Maybe we should use another library, feel free to suggest one.

[2021-10-01 16:26] #407 closed

[2021-10-01 16:38] gremo commented on #397
Hello @pkimtani, thanks for asking, glad to help!

1. Yeah, I know, but replacing NestJS logger means to conform to the `LoggerService` and its methods. You can still pass an object instead of a string as logger `message` parameter. The object should have the `msg` property (the string)... anything else is metadata passed to Winston! `{ msg: 'A message', { foo: bar } }` Does this help?
2. Can you

[2021-10-01 16:41] gremo commented on #378
@Zyles try using `import * as winston from 'winston'`, the error is about `combine` which is a function of winston package.

[2021-10-04 07:37] iamsr opened #411 "filename in logging"
Is there a way to add filename in logging that tell from where the log function was called?

[2021-10-06 15:53] gremo commented on #411
Hi, thanks for asking about this library.

Unfortunately, this is a very personal requirement or feature and I'll doubt that it will fit the majority of users needs. I also don't think there is a standard and reliable way to get what you want (name of the controller / object from inside winston).

https://stackoverflow.com/questions/280389/how-do-you-find-out-the-caller-function-in-javascript
http

[2021-11-10 13:38] alko89 opened #432 "this.logger.warn and this.logger.verbose is not a function"
I'm trying to add papertrail logging to nest. I am using nest-winston module to inject the logger in bootstrap:

[code]

Doing so seems to work for `Error`, `Info` (with missing context) and `Debug` but throw for `Warn` and `Verbose`.

I have created an endpoint to test logging:

[code]

Example console output:
[code]

There are three issues I see with my approach:
 - info has no context
 - warn a

[2021-11-18 15:57] chihabeeddine commented on #122
Is there something to be done with what have been said in this ticket #[7442](https://github.com/nestjs/nest/issues/7442) ?
I'm not sure how to replace  this part without DI [Replacing the Nest logger (also for bootstrapping)](https://github.com/gremo/nest-winston#replacing-the-nest-logger-also-for-bootstrapping)
I was doing this priore to v8

[code]
  What's the best way to replace this now ?

[2021-11-18 19:03] alesdokshanin commented on #364
@gremo this is relevant for me at this moment. Could you please clarify what is the proper way to test code that injects the following way: `@Inject( WINSTON_MODULE_NEST_PROVIDER) private readonly logger: LoggerService) {}`

[2021-11-24 11:53] sheghun commented on #432
I had this same issue

[2021-11-24 16:00] gremo commented on #432
Can you please try to inject the logger as in this [`app.controller.ts`](https://github.com/gremo/nest-winston/blob/master/sample/replace-nest-logger-bootstrap/src/app.controller.ts#L8)?

In particular, @Alko89 , why doing the following?

[code]

[2021-11-24 16:03] gremo commented on #386
Closing this because it's not related to the library (`winston.transports.File` is from **winston** package).

Thanks for understanding 👍

[2021-11-24 16:03] #386 closed

[2021-11-24 16:04] gremo commented on #378
Feel free to comment if you still have this kind of problem, look for my answer ^^^^ above ^^^^, thanks.

[2021-11-24 16:04] #378 closed

[2021-11-24 16:05] gremo commented on #359
Closing, feel free to comment if you can explain the question/problem better.

[2021-11-24 16:05] #359 closed

[2021-11-25 13:20] glebbash opened #439 "cli-color@2.0.0 vulnerabilites"
Version 1.6.1 still uses cli-color@2.0.0 which has vulnerable dependency of ansi-regex@2.1.1.

Can you please deploy a new version that uses cli-color@2.0.1?

[code]

[code]

[2021-11-25 20:57] gremo commented on #439
Hi, it's already at v2.0.1 https://github.com/gremo/nest-winston/blob/master/package.json#L24 what I'm missing?

[2021-11-25 20:59] gremo commented on #439
Sorry, that tag was at cli-color@2.0.0, I'll make a new one!

[2021-11-29 08:15] #439 closed

[2021-11-29 13:30] EnzoDOROSARIO commented on #432
I have the same issue but with syslog transport instead, here is my config :

[2021-11-29 13:34] EnzoDOROSARIO commented on #432
I have the same issue but with the syslog transport :
[code]
Here is the initialisation :
[code]
I think it comes from the `levels: winston.config.syslog.levels` because when I set it to another thing (`winston.config.npm.levels` for example)

[2021-11-29 15:24] Alko89 commented on #432
@gremo I updated my code with what you recommended by injecting the logger, now there is no context in any of the logs and there is still issue with time measurements. Warning seems to be working now though.

[code]

[code]

[2021-12-01 17:16] hjpotter92 commented on #123
sorry to revive an old thread. I come from a lua background, could you provide a small sample on how the nest-winston logger could be injected with the execution context so that all `.log`/`.debug` calls to logger would receive the request meta data?

thanks for the amazing library. apologies if this is a stupid question.

[2021-12-01 18:02] hjpotter92 opened #443 "Allow for `WinstonLogger` to be extensible"
Currently, the constructor defines a `private readonly logger` property, making its child class declaration nearly impossible. (https://github.com/gremo/nest-winston/blob/master/src/winston.classes.ts#L8).

Perhaps, having the logger property as protected would allow others to maybe able to expand the base class?

I am not sure if this is already possible, but I could not find anything relevant in

[2021-12-10 03:19] vichbb opened #447 "in async Promise.then() use this.logger is undefined"
in async Promise.then() use this.logger is undefined

[2021-12-10 03:30] vichbb commented on #447
Hello, may I fail to pass:
method1: @Inject(Logger) private readonly logger: LoggerService
method2: constructor(private readonly logger: Logger) {}
Can I directly call the method in the Logger class to print the log?
Logger.log('message','contextInfo')

[2021-12-21 20:09] SunMar opened #450 "Formatter fails on BigInt"
Hi,

When trying to log an error object, the logger failed for me with the error:
`[unable to serialize, circular reference is too complex to analyze]`

After debugging I found out that the problem was caused because the error object contained a `BigInt` and `JSON.stringify()` throws a `TypeError` if it encounters a `BigInt`. This was actually solved in `winston/logform` version 2.2.0 (https://git

[2022-01-03 11:23] gremo commented on #450
Well, it seems quite easy. I'll push to master in the next few days I hope. Mind if I ask you to test it before releasing a new version?

[2022-01-03 11:27] SunMar commented on #450
Sure, if you can provide some instructions on how I can test a branch/dev version I can easily run a quick test.
I have some Node experience but never made any of my own libraries or used branch/dev versions so not sure how you can install them :)

[2022-01-08 02:48] Alfagun74 opened #454 "I would like to add Morgan to my nest-winston stream to log HTTP Requests, but am unable to access it."
I would like to add Morgan to my nest-winston stream to log HTTP Requests, but am unable to access it.
The following Stackoverflow Answer shows exactly what i want to do but i cant access the winston stream. 😢

https://stackoverflow.com/a/28824464/14570696

Is there any way to make this more extendible so i can use the underlying Winston like im used to?

[2022-01-08 02:56] Alfagun74 commented on #454
Workaround:
`const logger = WinstonModule.createLogger({
  exitOnError: false,
  transports: transports,
  handleExceptions: true,
});

const stream = {
  write: function (message) {
    logger.log(message);
  },
};

const app = await NestFactory.create<NestExpressApplication>(AppModule, {
    logger: winston,
  });
app.use(morgan("tiny", { stream: stream }));
`

[2022-02-07 13:58] NomadXD commented on #253
@Carl-Meyer it worked for me as well. Thank you.

[2022-02-13 12:10] mostafa8026 opened #456 "The context maybe better to set protect"
I aim to create my logger service, but I can't set context because it is protected. I think it is better to set it protected.
take a look at my implementation:
[code]
Do you accept PR?

[2022-03-21 07:09] fjodor-rybakov opened #458 "Replace cli-color to chalk"
Please replace `cli-color` to `chalk`, because `cli-color` depends on the `ec5-ext` package, which contains a malicious script https://github.com/medikoo/es5-ext/blob/main/package.json#L115

[2022-03-21 07:32] gremo commented on #458
Can you make a PR?

[2022-03-21 08:41] fjodor-rybakov commented on #458
fjodor-rybakov:feature/replace-to-chalk

[2022-03-22 07:47] #458 closed

[2022-04-12 13:44] painkkiller opened #467 "Unable to write to file with nest-winston"
I have the nestjs app, and I am trying to implement logging with your package. I've found that my app falls silently without any errors when I trying to write to file.
My logger file:
[code]
main.ts inside bootstrap function
[code]

[2022-04-27 20:38] Sagie501 opened #470 "nestLikeConsoleFormat - When the context is object it prints [[object Object]]"
Hey!

When the context of the log is object the `nestLikeConsoleFormat` format print it like that:
`[MyApp] Info     1.1.1990, 00:00:00 [[object Object]] Log message here! - {} +15ms`

This is actually doesn't give anything.

I think that the simple solution will be to check if the context is object or string. If it is an object just stringify it.
And in addition to that we maybe need to add to th

[2022-04-28 14:47] gremo commented on #470
Thanks @Sagie501 for helping us! I've seen also your PR. Can you try to find out what was the issue? What happened in the history? https://github.com/gremo/nest-winston/blob/master/src/winston.utilities.ts

[2022-04-28 23:34] Sagie501 commented on #470
I actually started using `nest-winston` just yesterday. Could it have never worked?

[2022-05-06 15:42] floretan-ebot7 opened #473 "Context is lost when logging errors"
While debugging while certain log entries were missing the `context` property, I found out that it seems that the context is lost when calling the `.error()` method. Here is some example code:

[code]

Which gives this output with the json formatter:
[code]

As you can see, the first log entry is fine. The second log entry with the error is putting the context in the stack property.

With the same

[2022-05-11 09:59] grimurd opened #474 "Stack trace lost when logging an error"
When manually logging errors with the nest logger class the stack trace isn't included.

[As far as I can tell it's because in this line the trace argument has priority over the stack.trace property](https://github.com/gremo/nest-winston/blob/dc5fefb220a3433c5e931a1101e5a00592f91af2/src/winston.classes.ts#L33).

Here's a minimal reproduction example
[code]

[2022-05-12 09:29] faithfulojebiyi commented on #474
Your logger.error takes three arguments
`Logger.error(message: any, ...optionalParams: any[]): void (+1 overload)`,
You only passed the message to add your stack pass in the next argument

[2022-05-12 09:35] faithfulojebiyi commented on #473
Your logger.error takes three arguments
Logger.error(message: any, stack?: string, context?: string),
You only passed the message to add your stack and context pass in the next arguments

You should have something like  `this.logger.error('a test error',  error.stack,  MyService.name)`

[2022-05-12 10:23] gremo commented on #456
I'm sorry for the very late response, I'm quite busy recently with my personal and working life. I'll try to follow more this library that, honestly, went so far and has been used by many. Didn't expected that 😄

Anyways, is there something that prevents you to call [`setContext`](https://github.com/gremo/nest-winston/blob/master/src/winston.classes.ts#L10) on the logger class itself?

[2022-05-12 10:27] gremo commented on #454
I'm sorry for the very late response, I'm quite busy recently with my personal and working life. I'll try to follow more this library that, honestly, went so far and has been used by many. Didn't expected that 😄

Anyways it seems a good solution IMHO. Glad that you have solved it, going to close this, feel free to reply.

[2022-05-12 10:27] #454 closed

[2022-05-12 10:33] gremo commented on #470
I'm sorry for the very late response, I'm quite busy recently with my personal and working life. I'll try to follow more this library that, honestly, went so far and has been used by many. Didn't expected that 😄

Anyways, I have investigated further this issue, and I think it's not. As you can see [here](https://docs.nestjs.com/techniques/logger#using-the-logger-for-application-logging) the `conte

[2022-05-12 10:33] #470 closed

[2022-05-12 10:34] gremo commented on #473
I'm sorry for the very late response, I'm quite busy recently with my personal and working life. I'll try to follow more this library that, honestly, went so far and has been used by many. Didn't expected that 😄

@faithfulojebiyi you seems more on the point than me, can i close this?

[2022-05-12 10:35] gremo commented on #474
I'm sorry for the very late response, I'm quite busy recently with my personal and working life. I'll try to follow more this library that, honestly, went so far and has been used by many. Didn't expected that 😄

@faithfulojebiyi you seems more on the point than me, can i close this?

[2022-05-12 10:37] gremo commented on #432
I'm sorry for the very late response, I'm quite busy recently with my personal and working life. I'll try to follow more this library that, honestly, went so far and has been used by many. Didn't expected that 😄

@alko89 is this still relevant? Maybe you can try the `setContext` method of the logger?

[2022-05-12 10:50] gremo commented on #443
I'm sorry for the very late response, I'm quite busy recently with my personal and working life. I'll try to follow more this library that, honestly, went so far and has been used by many. Didn't expected that 😄

Anyways, should we do this? What about BC? I don't know but making that field `protected` seems wrong to me. Can you provide an example of a custom implementation and advances?

[2022-05-12 10:52] gremo commented on #447
I'm sorry for the very late response, I'm quite busy recently with my personal and working life. I'll try to follow more this library that, honestly, went so far and has been used by many. Didn't expected that 😄

There is no enough information here to understand the issue. I'll close it, feel free to reply further if it's not resolved for you.

[2022-05-12 10:52] #447 closed

[2022-05-12 10:54] gremo commented on #397
Feel free to reply further if you need help!

[2022-05-12 10:54] #397 closed

[2022-05-12 10:55] alko89 commented on #432
hey @gremo! No worries. Unfortunately we abandoned the library in favor of using syslog driver in Docker instead. We needed winston for logging prod deployment to papertrail. This alternative solution is working great for now.

[2022-05-12 10:56] faithfulojebiyi commented on #473
@gremo we could update the docs to help others out. if i also notice any other irregularities I'd let you know.

[2022-05-12 11:00] gremo opened #475 "Help wanted: fix GitHub actions (Renovate bot doesn't work anymore, dependencies outdated)"
Hi folks! I need an help with [GitHub actions](https://github.com/gremo/nest-winston/actions): there is something wrong with the `npm install command`. All tests are failing and Renovate bot will not updated project dependencies since... months.

@ubudragon @TrejGun

[2022-05-12 11:15] #432 closed

[2022-05-12 11:25] faithfulojebiyi commented on #475
it seems to be a legacy dependency issue
caa you try it with --legacy-peer-deps @yourpackgename

[2022-05-12 11:31] gremo commented on #473
@faithfulojebiyi provide a PR to clarify the docs then?

[2022-05-12 11:47] mostafa8026 commented on #456
I created my own LoggerService that utilizes your useful class. I have two option:

1- Extends from the WinstonLogger and then add my own logging functions, as I've mentioned it before.
2- Associate your class as an instance inside my LoggerService like this:

[code]

And this association works fine for now, But I had to create the setContext functions that you've already written, and it can be re

[2022-05-12 12:02] faithfulojebiyi commented on #473
@gremo PR done

[2022-05-12 13:02] #475 closed

[2022-05-13 08:32] tt-farshid opened #480 "How can we pass winston instance to nest-winston?"
I did not find a way to do that, I want to use some winston features.
We can provide winstonInstance to express-winston (similar library: https://github.com/bithavoc/express-winston),
I am looking for such kind of property or anything else which can help me.

[2022-05-13 12:28] grimurd commented on #474
As @faithfulojebiyi pointed out, according to the official nest api, the stack should be passed in as the second argument.

After checking, the built in nest logger also throws away the stack when an Error instance gets passed in as the first argument. My gripe is therefore more with how the official api works.

[2022-05-13 12:28] #474 closed

[2022-05-13 12:37] faithfulojebiyi commented on #474
@grimurd stack actually gets logged the best way to do this with NestJS is to implement a global exception handler

[code]
This way i get my stack logged hope this helps

[2022-05-13 12:43] gremo commented on #480
Hello, you mean you want to access the underlying winston instance? Can you provide an example of what you are trying to achive?

[2022-06-15 03:02] Zyles opened #508 "Usage in microservice"
How do you use this in a microservice?

[code]

[code]

[2022-06-22 09:03] xunziheng commented on #473
But he passed in the `context` parameter through the constructor when `new Logger()`, doesn't it work?

[2022-06-22 09:44] xunziheng opened #512 "how to set the context of the current service?"
Hey, I use something like this [example](https://github.com/gremo/nest-winston/blob/master/sample/replace-nest-logger/src/app.controller.ts), how to set the context of the current service？
It is now: (from this [issue](https://github.com/gremo/nest-winston/issues/122#issuecomment-802714289))
[code]
**It works fine, but it doesn't look like the final answer.**
[code]
or
[code]
The same works fine,

[2022-06-22 23:20] abrindam commented on #473
@xunziheng is correct. This is a bug. The cause of this is that the NestJS `Logger` class is delegating the `error()` message to `WinstonLogger`, and in the case that a stack trace is not provided, it will invoke `error()` with only two arguments `(message, context)`.

This is supported by the type definition (`stack` is an optional parameter) and should work. However, `WinstonLogger` is erroneous

[2022-06-22 23:40] abrindam commented on #512
I agree this is a bit confusing and me and my fellow engineers have been tripping over this too.

For what it's worth, here's what we do:

First, register WinstonLogger as the Nest application logger:
[code]

Then, in the class, manually create an instance of NestJS `Logger` (_not_ `WinstonLogger`):

[code]

This works because `Logger` proxies all of its logging requests to the application logger,

[2022-06-22 23:56] abrindam commented on #473
I should note that this is all caused by the fact that `Logger.error(message: any, stack?: string, context?: string)` is ambiguous at invocation time due the presence of multiple optional parameters of the same type (string). This is not `nest-winston`'s fault; they are merely following the interface `nest` itself designed.

In fact, the current behavior is quite defensible given that in most lang

[2022-06-23 00:49] faithfulojebiyi commented on #473
You can check the docs https://github.com/gremo/nest-winston#logger-methods usage is explained there

[2022-06-23 00:55] abrindam commented on #473
Opened a PR with a fix: https://github.com/gremo/nest-winston/pull/513

Since things were already ambiguous, the fix has its downsides. Feel free to accept or reject.

[2022-06-23 00:59] abrindam commented on #473
@faithfulojebiyi I have absolutely read the documentation if it wasn't already clear. The issue isn't the documentation, it is that when you implement a logger that works with Nest, you need to follow Nest's rules. And you're not. It is _totally_ legitimate usage to do that the OP has done, and nothing the documentation says will change that!

To be perfectly honest, I spent a good deal of time wr

[2022-06-27 10:50] strongpauly opened #515 "Feature request: Add ability to turn off colorization on nestLikeConsoleFormat"
For certain situations and environments it would be nice not to colorize console output.  Can we add a parameter to control this to`NestLikeConsoleFormatOptions`?

[2022-06-29 16:04] gremo commented on #473
@abrindam I think we should go for the Nest-like behavior, that is following that rules:

- We should improve this: https://github.com/gremo/nest-winston#logger-methods and explain how the `error` function works right now and why it's "confusing" for a Nest user

... then:

- We should release 2.0 because this is a BC
- We should add small section "Upgrade" in the documentation, to explain hot to

[2022-06-30 17:21] mgill2190 opened #519 "setLogLevels is not a function"
Hey,

nestjs - 8.4.7
nest-winston - 1.6.2
winston - 3.8.0

On running `npm run start:dev`. I get the following error:

[code]

`main.ts` -> `bootstrap` function has:
[code]

  Error seems to be thrown from nest's logger service calling `_a.setLogLevels(logger)`:
[code]

Would really appreciate anyone showing some light on how I could get passed this issue? Thanks.

[2022-07-07 10:42] falahati commented on #378
this doesn't seem fixed. why is this issue closed then?

[2022-07-10 09:07] RaiMX opened #527 "Update to allow nest ^9.0.0"
Please update to allow nest ^9.0.0

[2022-07-11 23:22] gremo commented on #527
https://github.com/gremo/nest-winston/releases/tag/v1.6.3

[2022-07-11 23:22] #527 closed

[2022-07-12 00:29] rbonestell opened #531 "nest-winston v1.6.3 has runtime error ERR_REQUIRE_ESM"
Unfortunately, it appears the 1.6.3 release introduced a dependency on Chalk v5: https://github.com/gremo/nest-winston/compare/v1.6.2...v1.6.3diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519R24

From this pull request: https://github.com/gremo/nest-winston/commit/4be39e2d2977eaa812de746e7a9e78048a1c4fff

This has resulted in a runtime error in my project's use of NestJS:
[code

[2022-07-12 00:38] gremo commented on #531
Are you able to downgrade to chalk@4? I think it’s the only way to ho.

[2022-07-12 00:49] gremo commented on #531
We could also remove the dependecy I think: https://github.com/nestjs/nest/blob/master/packages/common/utils/cli-colors.util.ts

WDYT

[2022-07-12 04:19] zhonggithub commented on #531
same issue

[2022-07-12 06:27] lwhiteley commented on #531
same issue

[code]

[2022-07-12 06:36] lwhiteley commented on #531
just an FYI:
ive ran into this issue before and just replaced chlak with
https://www.npmjs.com/package/ansi-colors

[2022-07-12 06:37] gremo commented on #531
I'll try to remove it ASAP. I don't even know why I used a library in the first place, for just like.. 4 colors. In the meanwhile I'll deprecate 1.6.3

[2022-07-12 07:27] gremo commented on #531
Can you test the master version with chalk removed? @lwhiteley @rbonestell

[2022-07-12 07:49] lwhiteley commented on #531
Awesome, works for me! 👍🏾

[2022-07-12 08:20] #531 closed

[2022-07-12 09:01] #515 closed

[2022-07-12 14:48] rbonestell commented on #531
Works great! Thanks for the quick fix @gremo!

[2022-07-12 14:56] gremo commented on #531
You're welcome @rbonestell ! I'm sorry to have published a broken release but I almost forgot about that PR with the major chalk upgrade. Plus that code isnt' tested, feel free to collaborate further 👍

[2022-07-12 17:33] apss-pohl opened #534 "Extend the log methods"
Hi,
first of all, thank you for your work on this package, i really like it.
I am using the https://github.com/gremo/nest-winston#replacing-the-nest-logger-also-for-bootstrapping approach ight now and would like to keep doing so.
However i would like to inject the current user into the log entries and i am not sure how to do that.
I inject a hard-coded configuration using the format option of a tr

[2022-07-15 07:02] apss-pohl commented on #534
Hi @gremo ,
thanks for your hints!
I played around a bit the last days and learned a lot. I found a way to archive what i like to do by adding a moduleReference into the config service of my auth strategy that holds the user. Using the format function of my transports i can add the current user to every log entry.
This only works for https://github.com/gremo/nest-winston#replacing-the-nest-logger

[2022-08-05 10:44] #519 closed

[2022-08-10 23:22] #512 closed

[2022-09-04 23:47] AbbasSrour commented on #508
Have you tried adding it the WorkerModule imports, because I ran to a similar issue last day and adding it there fixes the problem.

[2022-09-09 10:53] Motard opened #568 "Log unhandled exceptions in readable form"
There is a config option in Winston, called humanReadableUnhandledException. How can we use this in nest-winston?

[2022-09-11 21:23] miadabdi commented on #328
Is this fixed in new versions?

[2022-09-13 14:08] gitSambhal commented on #340
Any update on this? None of my logs has trace id.

[2022-09-14 14:54] gremo commented on #568
You should able to do that. Types are imported directly from the winston package and module options are passed directly to the [createLogger()](https://github.com/winstonjs/winston#usage) function.

Since winston package is a peer dependency you should able to install the correct version that has the humanReadableUnhandledException option added!

[2022-09-22 18:31] feelgood-interface opened #574 "WinstonLogger suggestions"
Good day,
thanks for the package. I have 2 suggestions that I would find helpful, but maybe there were other considerations during implementation I am not aware of:

1. Why is the stack trace logged as an array? The NestJS logger accepts a string and the stack type of _Error_ is also string.
2. I would prefer that the error name is also added to the optional parameters (_meta_) and not filtered.

[2022-09-24 19:55] KirianCaumes commented on #328
Hey,

I use this for the moment:

[code]

[2022-10-02 04:06] parikmaan commented on #244
Thanks @taivy and adding comment from @jmcdo29

[Link to comment](https://github.com/nestjs/nest/issues/4868)

[2022-10-11 12:33] GuillaumeDecMeetsMore commented on #480
Hello, I think I understand the request as I have the same need right now.

In my case, I would like to provide to the function `WinstonModule.createLogger({...})` an actual instance of Winston instead of the options needed to create a new one. So, this would mean:

[code]

This what express-winston linked above allows.

My main reason for that is the following: I need some way to access the Winst

[2022-10-19 13:36] suprith-s-reddy opened #587 "Write after end node error with winston and nest-winston logger"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current behavior

I am using nest-winston and winston packages to invoke a global logger for my nestjs API.

So I have defined the below code as a winston logger config:

file: winston-logger.config.ts

[code]

file: main.ts

[code]
file: app.module.ts

[code]

I am using postman to test my requests and respon

[2022-10-31 11:01] Lambo-555 opened #593 "TypeError: Cannot destructure property 'message' of 'message' as it is null"
An error occurs when trying to send an **empty** message.
Need to get rid of the fact that the message has the **ANY** format.

[code]
 =>
[code]

Path:
nest-winston/dist/winston.classes.js:25:30

Place:
const { message: msg } = message

Version:
1.8.0

Operation System:
Ubuntu 20.04

[2022-11-01 15:51] rbonestell opened #595 "Logging NestJS request details with every log?"
I have implemented winston replacing the NestJS logger (during bootstrap), but I can't come up with a clean and simple way for the logger instance to add the `request.id` property to every log (this is to help my team determine which logs are associated with which unique request ID to our system).

Has anyone successfully initialized a NestJS Logger instance during bootstrap with winston which can

[2022-11-03 07:52] NicholasAnthony commented on #595
Looking for a similar solution. Does anyone have any examples of this? Would be super helpful.

[2022-11-11 12:22] rivatove opened #599 ""Unknown logger level" error when used for bootstraping"
Hi, using the logger for bootstraping results in errors like this one:
`[winston] Unknown logger level: Nest application successfully started`

During bootstrap, nestjs calls logger's _log_ method with no argument for the level, e.g.:
`this.logger.log(constants_1.MESSAGES.APPLICATION_READY);`

And, since LoggerService method signature uses _any_, it accepts the interface and compilies despite the

[2022-11-16 23:35] iamjaredwalters opened #602 "Nest can't resolve dependencies"
### Description

Following the docs to for [replacing the Nest logger (also for bootstrapping)](https://github.com/gremo/nest-winston#replacing-the-nest-logger-also-for-bootstrapping) I've configured the logger in `main.ts` using the following:

[code]

I then provide the logger via my main module:
[code]

And finally, type hint in a service:
[code]

Nest then throws an exception `Error: Nest can'

[2022-11-16 23:54] iamjaredwalters commented on #602
I can add the logger as a provider to each module that uses it but the docs claim I don't need this step. Am I misunderstanding them?

[2022-11-25 14:21] karolchmiel94 commented on #602
I had the same issue as you. Make sure that you're not setting logger again with
`app.useLogger(app.get(WINSTON_MODULE_NEST_PROVIDER));`

[2022-11-28 08:29] lijing-2008 commented on #602
I had the same isue as above without setting logger again with app.useLogger as you say. Have you fixed it?